.wrapper {
  z-index: 5;
  @extend %flex-align;

  svg {
    @include breakpoint(tablet) {
      width: 32px;
      height: 32px;
    }
  }

  &__arrow {
    display: none;
    width: 48px !important;
    height: 48px !important;
    margin-right: 8px;
    transform: rotate(180deg);

    path {
      stroke: $text-color;
    }

    @include breakpoint(tablet) {
      display: block;
    }
  }

  &__hide {
    opacity: 0;
    transition: opacity 0.1s;
  }
}
