.container {
  @include breakpoint(desktop) {
    height: auto !important;
  }
}

.arrow_container {
  left: 0;
  right: 0;
  top: 50% !important;
  max-width: 25% !important;
}

.wrapper {
  height: 100%;
  @extend %flex-align;
  flex-direction: column;

  @include breakpoint(desktop) {
    padding: 40px 0 !important;
  }

  @include breakpoint(tablet) {
    max-height: 470px;
  }
}

.title {
  @extend %open-sans-48;
  padding: 32px 0 10px;

  @include breakpoint(desktop) {
    margin: 5vh 0;
    padding: 10px 0 24px;
  }

  @include breakpoint(tablet-l) {
    margin-top: 0vh;
  }

  @include breakpoint(tablet-m) {
    font-size: 32px;
    font-weight: 600;
    padding: 24px 0 0;
    line-height: 44px;
  }
}

.carousel {
  height: 80%;
  position: relative;
  width: calc(100vw - 200px);

  @include breakpoint(desktop) {
    width: 100%;
  }

  &__wrapper {
    height: 100%;
    align-items: unset !important;

    @include breakpoint(desktop) {
      flex-direction: column;
    }
  }

  &__item {
    width: calc(33vw - 66px);
    height: calc((33vw - 66px) / 4 * 3);
    padding: 16px;
    border-radius: 20px;
    @extend %flex-center;
    margin: auto;
    background-color: transparent !important;

    @include breakpoint(desktop) {
      width: 300px;
      height: 250px;
      background-color: transparent !important;
    }

    svg {
      cursor: url('/images/Mouse.png'), auto;
    }

    &_active {
      background-color: rgba(207, 229, 255, 0.6);
    }

    @include breakpoint(mobile) {
      width: 190px;
      padding: 0;
    }
  }

  &__list {
    display: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &::before {
      content: '';
      height: 1px;
      min-width: 16px;
    }

    &::after {
      content: '';
      height: 1px;
      min-width: 16px;
    }

    @include breakpoint(desktop) {
      gap: 26px;
      display: flex;
      overflow-y: auto;
    }

    @include breakpoint(tablet-m) {
      gap: 0;
    }
  }

  &__arrows {
    @extend %flex-center;

    &_item {
      height: 48px;
      padding: 0;
      background: unset;
    }

    &_left {
      transform: rotate(180deg);
    }
  }
}
