.form_style {
  margin: 0 auto;
  max-width: 594px;
}

.container {
  height: 100vh;
  padding: 80px 20px 60px;
  flex-direction: column;
  @extend %flex-center;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin-top: 50px !important;
  overflow-y: auto;
}

.title {
  text-align: center;
  @extend %open-sans-48;
}

.subtitle {
  margin: 16px 0;
  text-align: center;
  @extend %open-sans-24;
}

.steps {
  margin-bottom: 16px;
  @extend %flex-center;

  svg {
    margin: 0 5px 0 7px;
  }

  &__item {
    color: $text-color;
    width: 50px;
    height: 50px;
    background: $white-10;
    border-radius: 50%;
    backdrop-filter: blur(20px);

    &_active {
      background: $liner-blue;
    }
  }
}

.next {
  margin: 22px 0;
  @extend %button-gradient;
}

.success {
  width: 100%;
  max-width: 571px;
  flex-direction: column;
  margin: 50px auto;
  @extend %flex-center;

  &__title {
    margin: 40px 0;
    text-align: center;
    @extend %open-sans-48;
  }

  &__link {
    max-width: 201px;
    background-color: red;
    @extend %flex-center;
    @extend %button-gradient;
  }
}
