.cut_images {
  width: 600px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;

  &_containerTL {
    top: 0;
    left: 0;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    // opacity: 1;
    transform: opacity(1);
    transition: transform 0.7s;

    &__cubs {
      width: 50px;
      height: 50px;
      transition: transform 0.7s;

      &:nth-child(odd) {
        svg {
          path {
            fill: yellow;
          }
        }
      }
    }
  }

  &:hover .cut_images_containerTL__cubs {
    transform: opacity(0);

    &:nth-child(1) {
      transform: translate(0, -170px);
      transition: transform 0.7s;
    }
    &:nth-child(2) {
      transform: translate(20px, -170px);
      transition: transform 0.7s;
    }
    &:nth-child(3) {
      transform: translate(20px, -70px);
      transition: transform 0.7s;
    }
    &:nth-child(4) {
      transform: translate(-280px, -95px);
      transition: transform 0.7s;
    }

    &:nth-child(5) {
      transform: translate(-480px, -25px);
      transition: transform 0.7s;
    }
    &:nth-child(6) {
      transform: translate(-80px, -95px);
      transition: transform 0.7s;
    }
    &:nth-child(7) {
      transform: translate(-84px, -85px);
      transition: transform 0.7s;
    }
    &:nth-child(8) {
      transform: translate(-284px, -159px);
      transition: transform 0.7s;
    }
    &:nth-child(9) {
      transform: translate(-454px, 45px);
      transition: transform 0.7s;
    }
    &:nth-child(10) {
      transform: translate(-424px, -50px);
      transition: transform 0.7s;
    }
    &:nth-child(11) {
      transform: translate(-454px, 85px);
      transition: transform 0.7s;
    }
    &:nth-child(12) {
      transform: translate(-254px, 85px);
      transition: transform 0.7s;
    }
    &:nth-child(13) {
      transform: translate(-294px, -55px);
      transition: transform 0.7s;
    }
    &:nth-child(14) {
      transform: translate(-164px, -65px);
      transition: transform 0.7s;
    }
    &:nth-child(15) {
      transform: translate(-494px, 85px);
      transition: transform 0.7s;
    }
    &:nth-child(16) {
      transform: translate(-354px, 0px);
      transition: transform 0.7s;
    }
    &:nth-child(17) {
      transform: translate(-354px, -80px);
      transition: transform 0.7s;
    }
    &:nth-child(18) {
      transform: translate(-330px, -60px);
      transition: transform 0.7s;
    }
    &:nth-child(19) {
      transform: translate(-254px, 0px);
      transition: transform 0.7s;
    }
    &:nth-child(20) {
      transform: translate(-354px, -80px);
      transition: transform 0.7s;
    }
    &:nth-child(21) {
      transform: translate(-354px, 80px);
      transition: transform 0.7s;
    }
    &:nth-child(22) {
      transform: translate(-284px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(23) {
      transform: translate(-184px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(24) {
      transform: translate(-284px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(25) {
      transform: translate(-284px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(26) {
      transform: translate(-454px, -260px);
      transition: transform 0.7s;
    }
    &:nth-child(27) {
      transform: translate(-284px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(28) {
      transform: translate(-204px, 10px);
      transition: transform 0.7s;
    }
    &:nth-child(29) {
      transform: translate(-520px, -150px);
      transition: transform 0.7s;
    }
    &:nth-child(30) {
      transform: translate(-204px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(31) {
      transform: translate(-194px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(32) {
      transform: translate(-280px, -240px);
      transition: transform 0.7s;
    }
    &:nth-child(33) {
      transform: translate(-284px, -80px);
      transition: transform 0.7s;
    }
    &:nth-child(34) {
      transform: translate(-439px, -110px);
      transition: transform 0.7s;
    }
    &:nth-child(35) {
      transform: translate(-300px, -75px);
      transition: transform 0.7s;
    }
    &:nth-child(36) {
      transform: translate(-454px, -90px);
      transition: transform 0.7s;
    }
    &:nth-child(37) {
      transform: translate(-284px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(38) {
      transform: translate(-290px, -65px);
      transition: transform 0.7s;
    }
    &:nth-child(39) {
      transform: translate(-320px, 0);
      transition: transform 0.7s;
    }

    &:nth-child(40) {
      transform: translate(-430px, -280px);
      transition: transform 0.7s;
    }
    &:nth-child(41) {
      transform: translate(-320px, -295px);
      transition: transform 0.7s;
    }
    &:nth-child(42) {
      transform: translate(-190px, -289px);
      transition: transform 0.7s;
    }
  }

  &_containerTR {
    top: 0;
    right: 0;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &__cubs {
      width: 50px;
      height: 50px;
      transition: transform 0.7s;

      &:nth-child(odd) {
        svg {
          path {
            fill: rebeccapurple;
          }
        }
      }
    }
  }

  &:hover .cut_images_containerTR__cubs {
    &:nth-child(1) {
      transform: translate(290px, -158px);
      transition: transform 0.7s;
    }
    &:nth-child(2) {
      transform: translate(220px, -170px);
      transition: transform 0.7s;
    }
    &:nth-child(3) {
      transform: translate(320px, -70px);
      transition: transform 0.7s;
    }
    &:nth-child(4) {
      transform: translate(280px, -95px);
      transition: transform 0.7s;
    }

    &:nth-child(5) {
      transform: translate(480px, -25px);
      transition: transform 0.7s;
    }
    &:nth-child(6) {
      transform: translate(80px, -95px);
      transition: transform 0.7s;
    }
    &:nth-child(7) {
      transform: translate(84px, -85px);
      transition: transform 0.7s;
    }
    &:nth-child(8) {
      transform: translate(284px, -159px);
      transition: transform 0.7s;
    }
    &:nth-child(9) {
      transform: translate(454px, 45px);
      transition: transform 0.7s;
    }
    &:nth-child(10) {
      transform: translate(424px, -50px);
      transition: transform 0.7s;
    }
    &:nth-child(11) {
      transform: translate(454px, 85px);
      transition: transform 0.7s;
    }
    &:nth-child(12) {
      transform: translate(254px, 85px);
      transition: transform 0.7s;
    }
    &:nth-child(13) {
      transform: translate(294px, -55px);
      transition: transform 0.7s;
    }
    &:nth-child(14) {
      transform: translate(164px, -65px);
      transition: transform 0.7s;
    }
    &:nth-child(15) {
      transform: translate(494px, 85px);
      transition: transform 0.7s;
    }
    &:nth-child(16) {
      transform: translate(354px, 0px);
      transition: transform 0.7s;
    }
    &:nth-child(17) {
      transform: translate(354px, -80px);
      transition: transform 0.7s;
    }
    &:nth-child(18) {
      transform: translate(330px, -60px);
      transition: transform 0.7s;
    }
    &:nth-child(19) {
      transform: translate(254px, 0px);
      transition: transform 0.7s;
    }
    &:nth-child(20) {
      transform: translate(354px, -80px);
      transition: transform 0.7s;
    }
    &:nth-child(21) {
      transform: translate(314px, 80px);
      transition: transform 0.7s;
    }
    &:nth-child(22) {
      transform: translate(224px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(23) {
      transform: translate(184px, 30px);
      transition: transform 0.7s;
    }
    &:nth-child(24) {
      transform: translate(284px, 50px);
      transition: transform 0.7s;
    }
    &:nth-child(25) {
      transform: translate(184px, -190px);
      transition: transform 0.7s;
    }
    &:nth-child(26) {
      transform: translate(454px, -260px);
      transition: transform 0.7s;
    }
    &:nth-child(27) {
      transform: translate(284px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(28) {
      transform: translate(24px, -250px);
      transition: transform 0.7s;
    }
    &:nth-child(29) {
      transform: translate(420px, 150px);
      transition: transform 0.7s;
    }
    &:nth-child(30) {
      transform: translate(154px, 90px);
      transition: transform 0.7s;
    }
    &:nth-child(31) {
      transform: translate(194px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(32) {
      transform: translate(280px, -240px);
      transition: transform 0.7s;
    }
    &:nth-child(33) {
      transform: translate(284px, 80px);
      transition: transform 0.7s;
    }
    &:nth-child(34) {
      transform: translate(439px, -110px);
      transition: transform 0.7s;
    }
    &:nth-child(35) {
      transform: translate(300px, -75px);
      transition: transform 0.7s;
    }
    &:nth-child(36) {
      transform: translate(454px, -90px);
      transition: transform 0.7s;
    }
    &:nth-child(37) {
      transform: translate(284px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(38) {
      transform: translate(330px, -335px);
      transition: transform 0.7s;
    }
    &:nth-child(39) {
      transform: translate(320px, 0);
      transition: transform 0.7s;
    }
    &:nth-child(40) {
      transform: translate(430px, -280px);
      transition: transform 0.7s;
    }
    &:nth-child(41) {
      transform: translate(320px, -295px);
      transition: transform 0.7s;
    }
    &:nth-child(42) {
      transform: translate(190px, -289px);
      transition: transform 0.7s;
    }
  }

  &_containerBL {
    left: 0;
    bottom: 0;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &__cubs {
      width: 50px;
      height: 50px;
      transition: transform 0.7s;

      &:nth-child(even) {
        svg {
          path {
            fill: green;
          }
        }
      }
    }
  }

  &:hover .cut_images_containerBL__cubs {
    &:nth-child(1) {
      transform: translate(-50px, 0);
      transition: transform 0.7s;
    }
    &:nth-child(2) {
      transform: translate(-90px, 360px);
      transition: transform 0.7s;
    }
    &:nth-child(3) {
      transform: translate(-180px, 300px);
      transition: transform 0.7s;
    }
    &:nth-child(4) {
      transform: translate(-280px, 205px);
      transition: transform 0.7s;
    }

    &:nth-child(5) {
      transform: translate(-80px, 315px);
      transition: transform 0.7s;
    }
    &:nth-child(6) {
      transform: translate(-390px, 295px);
      transition: transform 0.7s;
    }
    &:nth-child(7) {
      transform: translate(-84px, 35px);
      transition: transform 0.7s;
    }
    &:nth-child(8) {
      transform: translate(-304px, 220px);
      transition: transform 0.7s;
    }
    &:nth-child(9) {
      transform: translate(-454px, 45px);
      transition: transform 0.7s;
    }
    &:nth-child(10) {
      transform: translate(-514px, 180px);
      transition: transform 0.7s;
    }
    &:nth-child(11) {
      transform: translate(-454px, 85px);
      transition: transform 0.7s;
    }
    &:nth-child(12) {
      transform: translate(-254px, 85px);
      transition: transform 0.7s;
    }
    &:nth-child(13) {
      transform: translate(-294px, -55px);
      transition: transform 0.7s;
    }
    &:nth-child(14) {
      transform: translate(-164px, -65px);
      transition: transform 0.7s;
    }
    &:nth-child(15) {
      transform: translate(-494px, 85px);
      transition: transform 0.7s;
    }
    &:nth-child(16) {
      transform: translate(-354px, 0px);
      transition: transform 0.7s;
    }
    &:nth-child(17) {
      transform: translate(-354px, -80px);
      transition: transform 0.7s;
    }
    &:nth-child(18) {
      transform: translate(-330px, -60px);
      transition: transform 0.7s;
    }
    &:nth-child(19) {
      transform: translate(16px, 270px);
      transition: transform 0.7s;
    }
    &:nth-child(20) {
      transform: translate(-354px, -80px);
      transition: transform 0.7s;
    }
    &:nth-child(21) {
      transform: translate(-354px, 80px);
      transition: transform 0.7s;
    }
    &:nth-child(22) {
      transform: translate(-284px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(23) {
      transform: translate(-134px, 230px);
      transition: transform 0.7s;
    }
    &:nth-child(24) {
      transform: translate(-164px, 160px);
      transition: transform 0.7s;
    }
    &:nth-child(25) {
      transform: translate(-284px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(26) {
      transform: translate(-364px, 100px);
      transition: transform 0.7s;
    }
    &:nth-child(27) {
      transform: translate(-134px, 100px);
      transition: transform 0.7s;
    }
    &:nth-child(28) {
      transform: translate(-204px, 10px);
      transition: transform 0.7s;
    }
    &:nth-child(29) {
      transform: translate(-520px, -150px);
      transition: transform 0.7s;
    }
    &:nth-child(30) {
      transform: translate(-204px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(31) {
      transform: translate(-194px, -30px);
      transition: transform 0.7s;
    }
    &:nth-child(32) {
      transform: translate(-390px, 40px);
      transition: transform 0.7s;
    }
    &:nth-child(33) {
      transform: translate(-284px, -80px);
      transition: transform 0.7s;
    }
    &:nth-child(34) {
      transform: translate(-439px, -110px);
      transition: transform 0.7s;
    }
    &:nth-child(35) {
      transform: translate(-300px, -75px);
      transition: transform 0.7s;
    }
    &:nth-child(36) {
      transform: translate(-454px, -90px);
      transition: transform 0.7s;
    }
    &:nth-child(37) {
      transform: translate(-144px, 60px);
      transition: transform 0.7s;
    }
    &:nth-child(38) {
      transform: translate(-290px, -65px);
      transition: transform 0.7s;
    }
    &:nth-child(39) {
      transform: translate(-320px, 0);
      transition: transform 0.7s;
    }

    &:nth-child(40) {
      transform: translate(-490px, 90px);
      transition: transform 0.7s;
    }
    &:nth-child(41) {
      transform: translate(-320px, 175px);
      transition: transform 0.7s;
    }
    &:nth-child(42) {
      transform: translate(-520px, 139px);
      transition: transform 0.7s;
    }
  }

  &_containerBR {
    right: 0;
    bottom: 0;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &__cubs {
      width: 50px;
      height: 50px;
      transition: transform 0.7s;

      &:nth-child(even) {
        svg {
          path {
            fill: red;
          }
        }
      }
    }
  }

  &:hover .cut_images_containerBR__cubs {
    &:nth-child(1) {
      transform: translate(20px, 330px);
      transition: transform 0.7s;
    }
    &:nth-child(2) {
      transform: translate(65px, 310px);
      transition: transform 0.7s;
    }
    &:nth-child(3) {
      transform: translate(170px, 70px);
      transition: transform 0.7s;
    }
    &:nth-child(4) {
      transform: translate(280px, 95px);
      transition: transform 0.7s;
    }

    &:nth-child(5) {
      transform: translate(480px, -25px);
      transition: transform 0.7s;
    }
    &:nth-child(6) {
      transform: translate(320px, 245px);
      transition: transform 0.7s;
    }
    &:nth-child(7) {
      transform: translate(434px, -15px);
      transition: transform 0.7s;
    }
    &:nth-child(8) {
      transform: translate(284px, 99px);
      transition: transform 0.7s;
    }
    &:nth-child(9) {
      transform: translate(454px, 45px);
      transition: transform 0.7s;
    }
    &:nth-child(10) {
      transform: translate(424px, -50px);
      transition: transform 0.7s;
    }
    &:nth-child(11) {
      transform: translate(454px, 85px);
      transition: transform 0.7s;
    }
    &:nth-child(12) {
      transform: translate(254px, 85px);
      transition: transform 0.7s;
    }
    &:nth-child(13) {
      transform: translate(294px, 20px);
      transition: transform 0.7s;
    }
    &:nth-child(14) {
      transform: translate(194px, -65px);
      transition: transform 0.7s;
    }
    &:nth-child(15) {
      transform: translate(494px, 85px);
      transition: transform 0.7s;
    }
    &:nth-child(16) {
      transform: translate(354px, 0px);
      transition: transform 0.7s;
    }
    &:nth-child(17) {
      transform: translate(354px, -80px);
      transition: transform 0.7s;
    }
    &:nth-child(18) {
      transform: translate(330px, 90px);
      transition: transform 0.7s;
    }
    &:nth-child(19) {
      transform: translate(254px, 0px);
      transition: transform 0.7s;
    }
    &:nth-child(20) {
      transform: translate(354px, -90px);
      transition: transform 0.7s;
    }
    &:nth-child(21) {
      transform: translate(354px, 80px);
      transition: transform 0.7s;
    }
    &:nth-child(22) {
      transform: translate(284px, 100px);
      transition: transform 0.7s;
    }
    &:nth-child(23) {
      transform: translate(184px, 90px);
      transition: transform 0.7s;
    }
    &:nth-child(24) {
      transform: translate(104px, 80px);
      transition: transform 0.7s;
    }
    &:nth-child(25) {
      transform: translate(204px, 90px);
      transition: transform 0.7s;
    }
    &:nth-child(26) {
      transform: translate(454px, 200px);
      transition: transform 0.7s;
    }
    &:nth-child(27) {
      transform: translate(284px, 100px);
      transition: transform 0.7s;
    }
    &:nth-child(28) {
      transform: translate(204px, 100px);
      transition: transform 0.7s;
    }
    &:nth-child(29) {
      transform: translate(80px, 150px);
      transition: transform 0.7s;
    }
    &:nth-child(30) {
      transform: translate(204px, 160px);
      transition: transform 0.7s;
    }
    &:nth-child(31) {
      transform: translate(154px, 140px);
      transition: transform 0.7s;
    }
    &:nth-child(32) {
      transform: translate(270px, 140px);
      transition: transform 0.7s;
    }
    &:nth-child(33) {
      transform: translate(334px, 80px);
      transition: transform 0.7s;
    }
    &:nth-child(34) {
      transform: translate(429px, -140px);
      transition: transform 0.7s;
    }
    &:nth-child(35) {
      transform: translate(340px, -55px);
      transition: transform 0.7s;
    }
    &:nth-child(36) {
      transform: translate(300px, 36px);
      transition: transform 0.7s;
    }
    &:nth-child(37) {
      transform: translate(64px, 70px);
      transition: transform 0.7s;
    }
    &:nth-child(38) {
      transform: translate(110px, 55px);
      transition: transform 0.7s;
    }
    &:nth-child(39) {
      transform: translate(150px, -49px);
      transition: transform 0.7s;
    }

    &:nth-child(40) {
      transform: translate(440px, 90px);
      transition: transform 0.7s;
    }
    &:nth-child(41) {
      transform: translate(260px, 155px);
      transition: transform 0.7s;
    }
    &:nth-child(42) {
      transform: translate(120px, 159px);
      transition: transform 0.7s;
    }
  }
}

.form_style {
  margin: 0 auto;
  max-width: 594px;
}

.container {
  height: 100vh;
  padding: 80px 20px 60px;
  flex-direction: column;
  @extend %flex-center;

  @include breakpoint(tablet) {
    padding-top: 66px;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.title {
  margin-top: 50px;
  text-align: center;
  @extend %open-sans-48;
}

.subtitle {
  margin: 16px 0;
  text-align: center;
  @extend %open-sans-24;
}

.steps {
  margin-bottom: 16px;
  @extend %flex-center;

  svg {
    margin: 0 5px 0 7px;
  }

  &__item {
    color: $text-color;
    width: 50px;
    height: 50px;
    background: $white-10;
    border-radius: 50%;
    backdrop-filter: blur(20px);

    &_active {
      background: $liner-blue;
    }
  }
}

.next {
  margin: 22px 0;
  @extend %button-gradient;
}

.success {
  width: 100%;
  max-width: 571px;
  flex-direction: column;
  margin: 50px auto;
  @extend %flex-center;

  &__title {
    margin: 40px 0;
    text-align: center;
    @extend %open-sans-48;
  }

  &__link {
    background-color: silver;
    @extend %flex-center;
    @extend %button-gradient;
  }
}
