.form_style {
  margin: 0 auto;
  max-width: 594px;
}

.container {
  height: 100vh;
  padding: 80px 20px 60px;
  flex-direction: column;
  @extend %flex-center;
  position: relative;

  @include breakpoint(tablet) {
    padding-top: 66px;
  }
}

.wrapper {
  display: none;
}

.wrapper_anima {
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 50px;
  transform: scale(0);
  animation: formAnima 1.2s forwards;

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes formAnima {
  0% {
    transform: scale(0);
  }
  100% {
    overflow-y: auto;
    transform: scale(1);
  }
}

.title {
  text-align: center;
  @extend %open-sans-48;

  @include breakpoint(tablet-m) {
    font-size: 32px;
    font-weight: 600;
    padding: 24px 0 0;
    line-height: 44px;
  }
}

.subtitle {
  margin: 16px 0;
  text-align: center;
  @extend %open-sans-24;
}

.steps {
  margin-bottom: 16px;
  @extend %flex-center;

  svg {
    margin: 0 5px 0 7px;
  }

  &__line {
    path {
      stroke: #1d1d1d;
    }
  }

  &__item {
    width: 50px;
    height: 50px;
    color: $applayText;
    border-radius: 50%;
    background: $bacgWhite;

    &_active {
      background: $liner-blue;
    }
  }
}

.next {
  margin: 22px 0;
  @extend %button-gradient;
}

.success {
  width: 100%;
  max-width: 571px;
  flex-direction: column;
  margin: 50px auto;
  @extend %flex-center;

  &__title {
    margin: 40px 0;
    text-align: center;
    @extend %open-sans-48;

    @include breakpoint(tablet-m) {
      font-size: 26px;
      font-weight: 500;
      line-height: 44px;
    }
  }

  &__link {
    background-color: silver;
    @extend %flex-center;
    @extend %button-gradient;
  }
}
