.cut_images {
  width: 480px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-size: 480px 602px;
  background-repeat: no-repeat;

  &_active {
    animation: opacityNulling 0.95s forwards;

    .cut_images_item {
      transition: transform 0.7s;
      position: relative;

      &:nth-child(1) {
        transform: translate(-110px, 790px);
      }
      &:nth-child(2) {
        transform: translate(-140px, 760px);
      }
      &:nth-child(3) {
        transform: translate(-160px, 718px);
      }
      &:nth-child(4) {
        transform: translate(-245px, 738px);
      }
      &:nth-child(5) {
        transform: translate(-304px, 702px);
      }
      &:nth-child(6) {
        transform: translate(-365px, -5px);
      }
      &:nth-child(7) {
        transform: translate(255px, 818px);
      }
      &:nth-child(8) {
        transform: translate(237px, 700px);
      }
      &:nth-child(9) {
        transform: translate(278px, -5px);
      }
      &:nth-child(10) {
        transform: translate(215px, -32px);
      }
      &:nth-child(11) {
        transform: translate(155px, 670px);
      }
      &:nth-child(12) {
        transform: translate(96px, 780px);
      }
      &:nth-child(13) {
        transform: translate(-294px, -55px);
      }
      &:nth-child(14) {
        transform: translate(-210px, 725px);
      }
      &:nth-child(15) {
        transform: translate(-394px, 85px);
      }
      &:nth-child(16) {
        transform: translate(-354px, 0px);
      }
      &:nth-child(17) {
        transform: translate(-354px, 620px);
      }
      &:nth-child(18) {
        transform: translate(-370px, 660px);
      }
      &:nth-child(19) {
        transform: translate(394px, -90px);
      }
      &:nth-child(20) {
        transform: translate(454px, 120px);
      }
      &:nth-child(21) {
        transform: translate(354px, 80px);
      }
      &:nth-child(22) {
        transform: translate(284px, -30px);
      }
      &:nth-child(23) {
        transform: translate(284px, 120px);
      }
      &:nth-child(24) {
        transform: translate(334px, 200px);
      }
      &:nth-child(25) {
        transform: translate(-284px, -30px);
      }
      &:nth-child(26) {
        transform: translate(-254px, 680px);
      }
      &:nth-child(27) {
        transform: translate(-284px, -30px);
      }
      &:nth-child(28) {
        transform: translate(-294px, 190px);
      }
      &:nth-child(29) {
        transform: translate(-520px, -150px);
      }
      &:nth-child(30) {
        transform: translate(-294px, -30px);
      }
      &:nth-child(31) {
        transform: translate(294px, -30px);
      }
      &:nth-child(32) {
        transform: translate(280px, 40px);
      }
      &:nth-child(33) {
        transform: translate(284px, 80px);
      }
      &:nth-child(34) {
        transform: translate(369px, -110px);
      }
      &:nth-child(35) {
        transform: translate(300px, -55px);
      }
      &:nth-child(36) {
        transform: translate(254px, -90px);
      }
      &:nth-child(37) {
        transform: translate(-304px, -30px);
      }
      &:nth-child(38) {
        transform: translate(-290px, -65px);
      }
      &:nth-child(39) {
        transform: translate(-320px, 50px);
      }
      &:nth-child(40) {
        transform: translate(-330px, 80px);
      }
      &:nth-child(41) {
        transform: translate(-320px, 30px);
      }
      &:nth-child(42) {
        transform: translate(-320px, 69px);
      }
      &:nth-child(43) {
        transform: translate(290px, -158px);
      }
      &:nth-child(44) {
        transform: translate(220px, -170px);
      }
      &:nth-child(45) {
        transform: translate(320px, -70px);
      }
      &:nth-child(46) {
        transform: translate(220px, -95px);
      }
      &:nth-child(47) {
        transform: translate(380px, -25px);
      }
      &:nth-child(48) {
        transform: translate(80px, -95px);
      }
      &:nth-child(49) {
        transform: translate(-184px, -85px);
      }
      &:nth-child(50) {
        transform: translate(-284px, -159px);
      }
      &:nth-child(51) {
        transform: translate(-254px, 45px);
      }
      &:nth-child(52) {
        transform: translate(424px, -50px);
      }
      &:nth-child(53) {
        transform: translate(454px, 85px);
      }
      &:nth-child(54) {
        transform: translate(354px, 10px);
      }
      &:nth-child(55) {
        transform: translate(454px, 55px);
      }
      &:nth-child(56) {
        transform: translate(-364px, -65px);
      }
      &:nth-child(57) {
        transform: translate(-634px, 85px);
      }
      &:nth-child(58) {
        transform: translate(-610px, -50px);
      }
      &:nth-child(59) {
        transform: translate(-554px, 200px);
      }
      &:nth-child(60) {
        transform: translate(-590px, -60px);
      }
      &:nth-child(61) {
        transform: translate(594px, 0px);
      }
      &:nth-child(62) {
        transform: translate(574px, -100px);
      }
      &:nth-child(63) {
        transform: translate(514px, 80px);
      }
      &:nth-child(64) {
        transform: translate(524px, -30px);
      }
      &:nth-child(65) {
        transform: translate(584px, 30px);
      }
      &:nth-child(66) {
        transform: translate(484px, 50px);
      }
      &:nth-child(67) {
        transform: translate(-384px, -190px);
      }
      &:nth-child(68) {
        transform: translate(-424px, 600px);
      }
      &:nth-child(69) {
        transform: translate(-424px, -30px);
      }
      &:nth-child(70) {
        transform: translate(-604px, 80px);
      }
      &:nth-child(71) {
        transform: translate(-620px, 150px);
      }
      &:nth-child(72) {
        transform: translate(-654px, 90px);
      }
      &:nth-child(73) {
        transform: translate(714px, -50px);
      }
      &:nth-child(74) {
        transform: translate(670px, 240px);
      }
      &:nth-child(75) {
        transform: translate(684px, 80px);
      }
      &:nth-child(76) {
        transform: translate(549px, 50px);
      }
      &:nth-child(77) {
        transform: translate(530px, 75px);
      }
      &:nth-child(78) {
        transform: translate(454px, -90px);
      }
      &:nth-child(79) {
        transform: translate(-354px, 30px);
      }
      &:nth-child(80) {
        transform: translate(330px, 505px);
      }
      &:nth-child(81) {
        transform: translate(-520px, 0px);
      }
      &:nth-child(82) {
        transform: translate(380px, -200px);
      }
      &:nth-child(83) {
        transform: translate(280px, -325px);
      }
      &:nth-child(84) {
        transform: translate(-638px, 449px);
      }
      &:nth-child(85) {
        transform: translate(-150px, 230px);
      }
      &:nth-child(86) {
        transform: translate(-90px, 360px);
      }
      &:nth-child(87) {
        transform: translate(-180px, 300px);
      }
      &:nth-child(88) {
        transform: translate(-280px, 205px);
      }
      &:nth-child(89) {
        transform: translate(-350px, 315px);
      }
      &:nth-child(90) {
        transform: translate(-430px, 295px);
      }
      &:nth-child(91) {
        transform: translate(384px, 125px);
      }
      &:nth-child(92) {
        transform: translate(304px, 220px);
      }
      &:nth-child(93) {
        transform: translate(384px, 245px);
      }
      &:nth-child(94) {
        transform: translate(404px, 180px);
      }
      &:nth-child(95) {
        transform: translate(324px, 85px);
      }
      &:nth-child(96) {
        transform: translate(204px, 85px);
      }
      &:nth-child(97) {
        transform: translate(-294px, 55px);
      }
      &:nth-child(98) {
        transform: translate(-264px, 65px);
      }
      &:nth-child(99) {
        transform: translate(-394px, 85px);
      }
      &:nth-child(100) {
        transform: translate(-354px, 190px);
      }
      &:nth-child(101) {
        transform: translate(-354px, -80px);
      }
      &:nth-child(102) {
        transform: translate(-330px, 90px);
      }
      &:nth-child(103) {
        transform: translate(366px, 270px);
      }
      &:nth-child(104) {
        transform: translate(354px, 150px);
      }
      &:nth-child(105) {
        transform: translate(354px, 80px);
      }
      &:nth-child(106) {
        transform: translate(384px, -30px);
      }
      &:nth-child(107) {
        transform: translate(334px, 230px);
      }
      &:nth-child(108) {
        transform: translate(204px, 190px);
      }
      &:nth-child(109) {
        transform: translate(-284px, 190px);
      }
      &:nth-child(110) {
        transform: translate(-364px, 100px);
      }
      &:nth-child(111) {
        transform: translate(-334px, 100px);
      }
      &:nth-child(112) {
        transform: translate(-294px, 60px);
      }
      &:nth-child(113) {
        transform: translate(-490px, 150px);
      }
      &:nth-child(114) {
        transform: translate(-494px, -50px);
      }
      &:nth-child(115) {
        transform: translate(504px, 130px);
      }
      &:nth-child(116) {
        transform: translate(490px, 40px);
      }
      &:nth-child(117) {
        transform: translate(334px, 200px);
      }
      &:nth-child(118) {
        transform: translate(329px, 150px);
      }
      &:nth-child(119) {
        transform: translate(330px, -75px);
      }
      &:nth-child(120) {
        transform: translate(304px, 250px);
      }
      &:nth-child(121) {
        transform: translate(-144px, 60px);
      }
      &:nth-child(122) {
        transform: translate(-290px, 225px);
      }
      &:nth-child(123) {
        transform: translate(-400px, 190px);
      }
      &:nth-child(124) {
        transform: translate(-410px, 90px);
      }
      &:nth-child(125) {
        transform: translate(-320px, 175px);
      }
      &:nth-child(126) {
        transform: translate(-520px, 139px);
      }
      &:nth-child(127) {
        transform: translate(320px, 30px);
      }
      &:nth-child(128) {
        transform: translate(325px, 50px);
      }
      &:nth-child(129) {
        transform: translate(380px, 20px);
      }
      &:nth-child(130) {
        transform: translate(280px, 95px);
      }
      &:nth-child(131) {
        transform: translate(350px, -25px);
      }
      &:nth-child(132) {
        transform: translate(220px, 205px);
      }
      &:nth-child(133) {
        transform: translate(-1330px, 0px);
      }
      &:nth-child(134) {
        transform: translate(-1330px, 0px);
      }
      &:nth-child(135) {
        transform: translate(-1330px, 0px);
      }
      &:nth-child(136) {
        transform: translate(-1330px, 0px);
      }
      &:nth-child(137) {
        transform: translate(-1330px, 0px);
      }
      &:nth-child(138) {
        transform: translate(-1330px, 0px);
      }
      &:nth-child(139) {
        transform: translate(-1330px, 0px);
      }
      &:nth-child(140) {
        transform: translate(100px, 0px);
      }
      &:nth-child(141) {
        transform: translate(30px, 0px);
      }
      &:nth-child(142) {
        transform: translate(110px, 0px);
      }
      &:nth-child(143) {
        transform: translate(90px, 0px);
      }
      &:nth-child(144) {
        transform: translate(20px, 0px);
      }
      &:nth-child(145) {
        transform: translate(-24px, 50px);
      }
      &:nth-child(146) {
        transform: translate(374px, 310px);
      }
      &:nth-child(147) {
        transform: translate(-274px, 20px);
      }
      &:nth-child(148) {
        transform: translate(-464px, -330px);
      }
      &:nth-child(149) {
        transform: translate(-374px, -32px);
      }
      &:nth-child(150) {
        transform: translate(-404px, -90px);
      }
      &:nth-child(151) {
        transform: translate(454px, 90px);
      }
      &:nth-child(152) {
        transform: translate(-375px, -200px);
      }
      &:nth-child(153) {
        transform: translate(294px, -180px);
      }
      &:nth-child(154) {
        transform: translate(204px, 100px);
      }
      &:nth-child(155) {
        transform: translate(380px, -350px);
      }
      &:nth-child(156) {
        transform: translate(204px, 160px);
      }
      &:nth-child(157) {
        transform: translate(-254px, -340px);
      }
      &:nth-child(158) {
        transform: translate(-170px, -230px);
      }
      &:nth-child(159) {
        transform: translate(494px, -180px);
      }
      &:nth-child(160) {
        transform: translate(489px, -190px);
      }
      &:nth-child(161) {
        transform: translate(399px, -55px);
      }
      &:nth-child(162) {
        transform: translate(390px, 36px);
      }
      &:nth-child(163) {
        transform: translate(-364px, 70px);
      }
      &:nth-child(164) {
        transform: translate(510px, 55px);
      }
      &:nth-child(165) {
        transform: translate(450px, -49px);
      }
      &:nth-child(166) {
        transform: translate(440px, 90px);
      }
      &:nth-child(167) {
        transform: translate(-20px, 208px);
      }
      &:nth-child(168) {
        transform: translate(0px, 250px);
      }
    }
  }

  &_item {
    width: 40px;
    height: 43px;
    background-image: url('/images/logo.png');
    background-size: contain;
    transform: translate(0, 0);
    transition: transform 0.7s;
  }
}

@keyframes opacityNulling {
  0% {
    height: 0;
    opacity: 1;
    border-radius: 1px;
  }

  100% {
    height: 0;
    opacity: 0.2;
    border-radius: 6px;
    position: absolute;
    top: 0;
  }
}
