.container {
  overflow: hidden;
}

.wrapper {
  @extend %flex-center;
  position: relative;

  &__ball {
    position: absolute;

    @include breakpoint(tablet) {
      width: 1400px;
    }

    @include breakpoint(tablet-m) {
      width: 700px;
    }

    rect {
      position: absolute;
      width: 0;
      height: 0;
    }
  }

  &__logo {
    @include breakpoint(tablet) {
      height: 190px;
    }

    @include breakpoint(tablet-m) {
      height: 112px;
    }

    &_ball {
      @include breakpoint(tablet) {
        height: 190px;
      }

      @include breakpoint(tablet-m) {
        height: 112px;
      }

      rect {
        &:nth-of-type(2) {
          animation: ball 0s linear forwards;
        }
      }
    }

    rect {
      &:nth-of-type(1) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 1s linear forwards;
        animation-delay: 3.5s;
      }

      &:nth-of-type(2) {
        animation: ball 2.5s linear forwards;

        @include breakpoint(tablet-m) {
          animation: ball 2.35s linear forwards;
        }
      }
    }
    path {
      &:nth-of-type(1) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 1s linear forwards;
        animation-delay: 2.2s;
      }

      &:nth-of-type(2) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 1s linear forwards;
        animation-delay: 2.4s;
      }

      &:nth-of-type(3) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 1s linear forwards;
        animation-delay: 2.6s;
      }

      &:nth-of-type(4) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 1s linear forwards;
        animation-delay: 2.8s;
      }

      &:nth-of-type(5) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 1s linear forwards;
        animation-delay: 3.1s;
      }
      &:nth-of-type(6) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 1s linear forwards;
        animation-delay: 3.3s;
      }
      &:nth-of-type(7),
      &:nth-of-type(8),
      &:nth-of-type(9) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 1s linear forwards;
        animation-delay: 3.5s;
      }

      &:nth-of-type(10) {
        stroke-dasharray: 800;
        stroke-dashoffset: 800;
        animation: dash 1.5s linear forwards;
        animation-delay: 2s;
      }
    }
  }
}

@keyframes ball {
  0% {
    width: 0;
    height: 0;
  }
  78% {
    width: 0;
    height: 0;
  }
  79% {
    width: 35px;
    height: 35px;
  }
  80% {
    x: 740;
    width: 35px;
    height: 35px;
  }
  86% {
    x: 700;
    width: 85px;
    height: 35px;
  }
  100% {
    x: 740;
    width: 35px;
    height: 35px;
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
