.wrapper {
  @extend %flex-center;
  position: relative;

  &__ball {
    position: absolute;

    // @include breakpoint(tablet) {
    //   width: 1400px;
    // }

    // @include breakpoint(tablet-m) {
    //   width: 700px;
    // }

    rect {
      position: absolute;
      width: 0;
      height: 0;
      offset-distance: 0%;
      animation: move-ball 5s ease-in-out;
      offset-path: path(
        'M-3 335C-3 335 48.3211 235.261 105.5 198C282.166 82.8734 269.784 578.512 480.5 586.5C673.636 593.821 863.966 294.763 1053 254.5C1229.5 216.906 1562.25 316.886 1510.5 586.5C1474.68 773.124 1309.56 848.944 1122 879.5C848.968 923.981 270.559 674.253 476 489C562.5 411 704.5 411 704.5 411H740'
      );
    }
  }

  &__logo {
    @include breakpoint(tablet) {
      height: 190px;
    }

    @include breakpoint(tablet-m) {
      height: 112px;
    }

    rect {
      &:nth-of-type(1) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 3.5s linear forwards;
        animation-delay: 8.25s;
      }

      &:nth-of-type(2) {
        transform: translate(50 80);
        animation: ball 6s linear forwards;
      }
    }
    path {
      &:nth-of-type(1) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 3.5s linear forwards;
        animation-delay: 6.75s;
      }

      &:nth-of-type(2) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 3.5s linear forwards;
        animation-delay: 7s;
      }

      &:nth-of-type(3) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 3.5s linear forwards;
        animation-delay: 7.25s;
      }

      &:nth-of-type(4) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 3.5s linear forwards;
        animation-delay: 7.5s;
      }

      &:nth-of-type(5) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 3.5s linear forwards;
        animation-delay: 7.75s;
      }
      &:nth-of-type(6) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 3.5s linear forwards;
        animation-delay: 8s;
      }
      &:nth-of-type(7),
      &:nth-of-type(8),
      &:nth-of-type(9) {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: dash 3.5s linear forwards;
        animation-delay: 8.25s;
      }

      &:nth-of-type(10) {
        stroke-dasharray: 800;
        stroke-dashoffset: 800;
        animation: draw 3.5s linear forwards;
        animation-direction: reverse;
        animation-delay: 4.5s;
      }
    }
  }
}

@keyframes move-ball {
  0% {
    width: 35px;
    height: 35px;
    offset-distance: 0%;
  }
  10% {
    width: 77px;
    height: 77px;
  }
  30% {
    width: 77px;
    height: 77px;
  }
  40% {
    width: 39px;
    height: 39px;
  }
  50% {
    width: 35px;
    height: 35px;
  }
  94% {
    opacity: 1;
  }
  100% {
    width: 35px;
    height: 35px;
    opacity: 0;
    offset-distance: 100%;
  }
}

@keyframes ball {
  0% {
    width: 0;
    height: 0;
  }
  78% {
    width: 0;
    height: 0;
  }
  79% {
    width: 35px;
    height: 35px;
  }
  80% {
    x: 740;
    width: 35px;
    height: 35px;
  }
  86% {
    x: 710;
    width: 80px;
    height: 35px;
  }
  100% {
    x: 740;
    width: 35px;
    height: 35px;
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -800;
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
