.wrapper {
  @extend %flex-center;
  position: relative;
  overflow: hidden;

  @include breakpoint(desktop) {
    flex-direction: column;
    justify-content: center;
  }

  @include breakpoint(tablet-m) {
    margin: 0 16px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    left: 0;
    max-width: 327px;
    width: 100%;
    z-index: 10;
    position: static;
    user-select: none;

    @include breakpoint(desktop) {
      margin-top: 32px;
      flex-direction: unset;
      justify-content: space-between;
    }

    @include breakpoint(tablet-m) {
      width: calc(100vw - 16px);
      margin-top: 24px;
      overflow-x: scroll;
      scroll-behavior: smooth;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item {
      cursor: pointer;
      display: flex;

      &:nth-child(2) {
        margin: 56px 0;

        @include breakpoint(desktop) {
          margin: 0;
        }

        @include breakpoint(tablet-m) {
          margin: 0 24px;
        }
      }
    }

    &__active {
      p {
        color: $logo-bottom-color !important;
      }
    }

    svg {
      @include breakpoint(desktop) {
        height: 37px;
        width: 37px;
      }
    }

    &__text {
      @extend %open-sans-48;
      color: $white40;
      margin-left: 12px;

      @include breakpoint(desktop) {
        font-size: 24px;
        line-height: 33px;
        font-weight: 600;
      }
    }

    &__active {
      color: $industryColor !important;
    }

    &__oneIcon {
      animation: moveToLeft 1.5s alternate;

      @include breakpoint(desktop) {
        animation: moveToTop 2s linear;
      }
    }

    &__twoIcon {
      animation: moveToLeft 2s alternate;

      @include breakpoint(desktop) {
        animation: moveToTop 2s linear;
      }
    }

    &__threeIcon {
      animation: moveToLeft 3s alternate;

      @include breakpoint(desktop) {
        animation: moveToTop 2s linear;
      }
    }

    @include breakpoint(desktop) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      left: 0;
      top: 160px;
      max-width: 100%;
    }
  }

  &__active_item {
    @extend %flex-center;
    flex-direction: column;
    margin-left: 8%;
    max-width: 615px;
    width: 100%;

    @include breakpoint(desktop) {
      max-width: 100%;
      margin: 0 0 80px;
      display: flex;
      flex-direction: unset;
    }

    @include breakpoint(tablet-m) {
      flex-direction: column;
      margin: 0 0 40px;
    }

    &__gif {
      @extend %flex-center;
      width: 422px;
      height: 410px;

      @include breakpoint(desktop) {
        width: 100%;
      }

      @media (max-height: 650px) {
        height: 230px;
      }

      &_animation {
        animation: moveToTop 2s linear;

        @include breakpoint(desktop) {
          animation: moveToLeft 2s linear;
        }

        @media (max-height: 650px) {
          height: 230px !important;
        }
        @media (max-height: 750px) {
          height: 280px;
        }
      }

      &_first {
        transform: rotateY(180deg);

        @media (max-height: 650px) {
          height: 230px !important;
        }
        @media (max-height: 750px) {
          height: 280px;
        }
      }
    }

    &__info {
      @extend %open-sans-18;
      color: $text-color;
      word-wrap: break-word;

      @include breakpoint(desktop) {
        max-width: 100%;
        width: 100%;
        margin: 39px 0 24px 36px;
        height: 354px;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      @include breakpoint(tablet-m) {
        font-size: 14px;
        line-height: 19px;
        margin: 0 0 24px;
      }

      &_anima {
        animation: moveToBottom 2s linear;

        @include breakpoint(desktop) {
          animation: moveToRigth 2s linear;
        }
      }

      &__title {
        @extend %open-sans-24;
        margin: 0 0 24px;

        @include breakpoint(tablet-m) {
          margin: 24px 0 16px 0;
        }
      }
    }
  }
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    margin-left: -300%;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes moveToTop {
  0% {
    opacity: 0;
    margin-top: -100%;
    margin-bottom: 100%;
  }
  100% {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@keyframes moveToBottom {
  0% {
    opacity: 0;
    margin-bottom: -100%;
    margin-top: 100%;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@keyframes moveToRigth {
  0% {
    opacity: 0;
    margin-right: -300%;
    margin-left: 300%;
  }
  100% {
    opacity: 1;
    margin-right: 0;
    margin-left: 36px;
  }
}
