.height_response {
  @include breakpoint(desktop) {
    height: auto !important;
  }
}

.d_none {
  @include breakpoint(desktop) {
    opacity: 0;
  }
}

.wrapper {
  @extend %flex-center;
  position: relative;
  overflow: hidden;
  padding-top: 0;
  height: 90vh;

  @include breakpoint(desktop) {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  &__menu {
    left: 0;
    width: 100%;
    z-index: 10;
    position: static;
    max-width: 339px;
    user-select: none;
    @extend %flex-column;

    @include breakpoint(desktop) {
      padding: 0 15px;
      margin-top: 32px;
      min-height: 56px;
      flex-direction: unset;
      width: calc(100vw - 16px);
      justify-content: space-between;
    }

    @include breakpoint(tablet-m) {
      padding: 0 7px;
      max-width: 100%;
      margin-top: 24px;
      overflow-x: scroll;
      scrollbar-width: none;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @include breakpoint(mobile) {
      justify-content: space-around !important;
    }

    &__item {
      @extend %flex-align;
      cursor: url('/images/Mouse.png'), auto;
      animation: textScaleRotate 0.5s infinite linear !important;

      @include breakpoint(tablet-m) {
        animation: textScaleRotateResponce 0.5s infinite linear !important;
      }

      svg {
        width: 37px;
        height: 37px;
        animation: unActiveIconAnima 0.6s forwards;

        @include breakpoint(tablet-m) {
          animation: unset;
        }
      }

      img {
        animation: unActiveIconAnima 0.6s forwards;

        @include breakpoint(tablet-m) {
          animation: unset;
        }
      }

      &:nth-child(2) {
        margin: 56px 0;

        @include breakpoint(desktop) {
          margin: 0;
        }

        @include breakpoint(tablet-m) {
          margin: 0;
          padding: 0 12px;
        }
      }

      @include breakpoint(tablet-m) {
        p {
          animation: disNone 0.4s;
          animation-fill-mode: forwards;
        }
      }
    }

    &__active {
      color: $white;
      @extend %flex-align;
      animation: unset !important;

      p {
        animation: none;
      }

      svg {
        display: block;
        animation: activeIconAnima 0.6s forwards;

        @include breakpoint(tablet-m) {
          animation: unset;
        }
      }

      p {
        color: rgba(241, 242, 242, 1) !important;

        @include breakpoint(tablet-m) {
          display: block;
          animation: disBlock 0.7s linear !important;
        }
      }
    }

    svg {
      @include breakpoint(desktop) {
        height: 37px;
        width: 37px;
      }
    }

    &__text {
      color: $white40;
      margin-left: 12px;
      @extend %open-sans-48;
      animation: textScale 0.3s infinite linear;

      @include breakpoint(desktop) {
        font-size: 24px;
        line-height: 33px;
        font-weight: 600;
      }

      @include breakpoint(tablet) {
        font-size: 20px;
        font-weight: 500;
        margin-left: 6px;
      }
    }

    &__oneIcon {
      @extend %flex-align;
      animation: moveToLeft 1s alternate;

      @include breakpoint(desktop) {
        animation: none;
      }
    }

    &__twoIcon {
      @extend %flex-align;
      animation: moveToLeft 2s alternate;

      @include breakpoint(desktop) {
        animation: none;
      }
    }

    &__threeIcon {
      @extend %flex-align;
      animation: moveToLeft 3s alternate;

      @include breakpoint(desktop) {
        animation: none;
      }
    }

    @include breakpoint(desktop) {
      left: 0;
      top: 160px;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__active_item {
    width: 100%;
    height: 100%;
    margin-left: 8%;
    max-width: 615px;
    @extend %flex-center;
    flex-direction: column;

    @include breakpoint(desktop) {
      display: flex;
      max-width: 100%;
      margin: 0 0 80px;
      flex-direction: unset;
    }

    @include breakpoint(tablet) {
      margin-bottom: 50px;
    }

    @include breakpoint(tablet-m) {
      margin-bottom: 0;
      flex-direction: column;
    }

    &__gif {
      @extend %flex-center;
      max-height: 470px;
      height: 100%;
      width: 470px;

      lottie-player {
        max-height: 430px;
      }

      @include breakpoint(desktop) {
        width: 100%;
        min-height: 470px;
      }

      @include breakpoint(tablet-m) {
        max-height: 280px;
      }

      @media (min-width: 1025px) and (max-height: 760px) {
        height: 230px;
        width: 230px;
      }

      &_animation {
        animation: moveToTop 2s linear;

        @include breakpoint(desktop) {
          animation: none;
        }
      }

      &_first {
        transform: rotateY(180deg);
      }
    }

    &__info {
      @extend %open-sans-18;
      user-select: none;
      word-wrap: break-word;
      color: $white-20;

      @include breakpoint(desktop) {
        width: 100%;
        max-height: 354px;
        max-width: 100%;
        margin: 39px 15px 24px 36px;
        min-height: 157px;
      }

      @include breakpoint(tablet-m) {
        margin: 0;
        font-size: 14px;
        line-height: 19px;
      }

      &_anima {
        animation: moveToBottom 2s linear;

        @include breakpoint(desktop) {
          animation: none;

          &__text {
            height: auto;
          }
        }

        @include breakpoint(tablet-m) {
          height: auto;

          &__text {
            margin: 0;
          }
        }
      }

      &__title {
        @extend %open-sans-24;
        margin: 0 0 24px;

        @include breakpoint(tablet-m) {
        }
      }
    }
  }
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    margin-left: -300%;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes moveToTop {
  0% {
    opacity: 0;
    margin-top: -100%;
    margin-bottom: 100%;
  }
  100% {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@keyframes moveToBottom {
  0% {
    opacity: 0;
    margin-bottom: -100%;
    margin-top: 100%;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@keyframes moveToRigth {
  0% {
    opacity: 0;
    margin-right: -300%;
    margin-left: 300%;
  }
  100% {
    opacity: 1;
    margin-right: 0;
    margin-left: 36px;
  }
}

@keyframes disBlock {
  0% {
    font-size: 1px;
  }

  100% {
    font-size: 20px;
  }
}

@keyframes disNone {
  0% {
    font-size: 20px;
  }

  100% {
    font-size: 0px;
    opacity: 0;
  }
}

@keyframes activeIconAnima {
  0% {
    width: 37px;
    height: 37px;
  }
  100% {
    width: 56px;
    height: 56px;
  }
}

@keyframes unActiveIconAnima {
  0% {
    width: 56px;
    height: 56px;
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    width: 37px;
    height: 37px;
    transform: scale(1.1);
  }
}

@keyframes textScale {
  0% {
    transform: scale(0.96);
  }
  50% {
    transform: scale(0.94);
  }
  100% {
    transform: scale(0.96);
  }
}

@keyframes textScaleRotate {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

@keyframes textScaleRotateResponce {
  0% {
    transform: rotate(5deg) scale(0.95);
  }
  25% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-5deg) scale(0.95);
  }
  75% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(5deg) scale(0.95);
  }
}
