.wrapper {
  @extend %flex-align;
  flex-direction: column;
  background-image: linear-gradient($black-30, $yellow-1, $yellow-1);
  height: 100vh;
  overflow: hidden;

  &__container {
    overflow-y: auto;
    height: 100vh;

    &__title {
      @extend %open-sans-48;
      position: absolute;
      top: 80px;
      left: 50px;
      color: $black-30;

      @include breakpoint(desktop) {
        padding: 10px 0 32px;
      }

      @include breakpoint(tablet-l) {
        margin-top: 0vh;
      }

      @include breakpoint(tablet-m) {
        font-size: 32px;
        font-weight: 600;
        padding: 24px 0 0;
        line-height: 44px;
      }
    }

    &__content {
      height: calc(100vh - 100px);
      margin-left: -50px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      overflow: visible;
      opacity: 0;
      position: absolute;
      scale: 3;
      animation: circleAnimation 6s linear infinite;

      &__img {
        width: 150px;
        transition: all 0.5s;

        &:hover {
          transition: all 0.5s;
          transform: scale(1.1);
        }
      }
      &__name {
      }
    }
  }
}

@keyframes circleAnimation {
  0% {
    z-index: 10;
    opacity: 0;
    bottom: -20%;
    scale: 3;
  }
  50% {
    opacity: 1;
  }
  100% {
    z-index: 0;
    left: 45%;
    // transform: translateX(-50%);
    bottom: 70%;
    scale: 0;
    opacity: 0;
  }
}
