.height_reponce {
  overflow: unset !important;

  @include breakpoint(desktop) {
    height: auto !important;
    margin: 50px auto 150px !important;
  }

  @include breakpoint(tablet-m) {
    margin: 0 auto 0 !important;
  }
}

.text_color {
  color: #1d1d1d;
}

.text_color_light {
  color: #f1f2f2;
}

.we_work {
  margin: 0 auto;
  width: 95% !important;
}

.wrapper {
  width: 100%;
  @extend %flex-align;
  flex-direction: column;

  @include breakpoint(tablet) {
    justify-content: center;
  }

  @include breakpoint(tablet-m) {
    padding-top: 0;
    justify-content: start;
  }
}

.svg {
  width: 100%;

  &__mobile {
    width: 288px;
    height: 693px;
  }
}

.title {
  user-select: none;
  position: relative;
  text-align: center;
  padding: 32px 0 72px;
  @extend %open-sans-48;
  text-decoration: underline;

  @include breakpoint(desktop) {
    padding-bottom: 42px;
  }

  @include breakpoint(tablet-m) {
    font-size: 32px;
    font-weight: 600;
    padding: 24px 0 0;
    line-height: 44px;
  }
}

.animation {
  width: 100%;
  max-width: 1000px;
  position: relative;
  @extend %flex-center;

  &__text_tree,
  &__text_two,
  &__text_one {
    height: 100px;
    position: absolute;
    text-align: center;
    @extend %open-sans-18;

    @include breakpoint(tablet-l) {
      height: 88px;
      font-size: 16px;
      line-height: 22px;
    }

    @include breakpoint(tablet-m) {
      height: 76px;
      font-size: 14px;
      font-weight: 300;
      line-height: 19px;
    }
  }

  &__text_one {
    left: 0;
    width: 100%;
    bottom: -35px;
    max-width: 333px;

    p {
      text-align: left;
    }

    @include breakpoint(tablet) {
      max-width: 250px;
    }

    @include breakpoint(tablet) {
      left: 0;
    }

    @include breakpoint(tablet-m) {
      bottom: 0;
      top: 160px;
    }
  }

  &__text_two {
    top: -30px;
    width: 100%;
    max-width: 350px;

    p {
      text-align: center;
    }

    @include breakpoint(tablet-m) {
      max-width: 250px;
      top: 380px;
      right: 0;
    }
  }

  &__text_tree {
    max-width: 290px;
    width: 100%;
    right: 0;
    bottom: -60px;

    p {
      text-align: right;
    }

    @include breakpoint(tablet) {
      max-width: 255px;
    }

    @include breakpoint(tablet-m) {
      left: 0;
      bottom: 10px;
    }
  }
}

@keyframes clockbg {
  from {
    fill: #ffffff;
  }
  to {
    fill: #ffffff;
    fill-opacity: 1;
  }
}

@-webkit-keyframes clockbg {
  from {
    fill: #ffffff;
  }
  to {
    fill: #ffffff;
    fill-opacity: 1;
  }
}

@-moz-keyframes clockbg {
  from {
    fill: #ffffff;
  }
  to {
    fill: #ffffff;
    fill-opacity: 1;
  }
}

@keyframes handsbg {
  to {
    fill: #3d80d4;
    fill-opacity: 1;
  }
  to {
    fill: #3d80d4;
    fill-opacity: 1;
  }
}

@keyframes clockrotatelarg {
  0% {
    fill: #ffffff;
  }
  100% {
    transform: rotate(359deg);
    fill: #ffffff;
  }
}

@keyframes unsetborder {
  to {
    fill: unset;
  }
}

@-webkit-keyframes unsetborder {
  to {
    fill: unset;
  }
}
@-moz-keyframes unsetborder {
  to {
    fill: unset;
  }
}

.rocket {
  animation-fill-mode: forwards;
  animation: hideRocket 11.1s;
}

.rocketAnimated {
  transform-origin: center center;
  transform-box: fill-box;
  transform: rotate(45deg) translate(-27px, 1px);
  animation-fill-mode: forwards;
  animation: showRocket 11.1s;
}

.rocketMobileAnimated {
  transform-origin: center center;
  transform-box: fill-box;
  transform: rotate(45deg) translate(-13px, -15px);
  animation-fill-mode: forwards;
  animation: mobileShowRocket 11.1s;
}

@keyframes hideRocket {
  0% {
    opacity: 1;
  }
  22% {
    opacity: 1;
  }
  23% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showRocket {
  0% {
    opacity: 0;
  }
  23% {
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  96% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mobileShowRocket {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  96% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.clockAnimation {
  path {
    &:first-of-type {
      animation: clockColor 0.3s ease-in-out 6s 1;
      animation-fill-mode: forwards;

      @keyframes clockColor {
        to {
          fill: #3d80d4;
          fill-opacity: 1;
        }
      }
    }
  }

  &__arrow {
    transform-box: fill-box;
    animation: clockrotatelarg 0.3s linear 6s 10;
    animation-fill-mode: forwards;
    transform-origin: 82% 27%;
  }

  &__arrow_larg {
    transform-box: fill-box;
    animation: clockrotatelarg 0.3s linear 6s 10;
    animation-fill-mode: forwards;
    transform-origin: 100% 95%;
  }
}

.removeFill {
  transform-box: fill-box;
  -webkit-animation: unsetborder 0s linear 6s 1;
  -moz-animation: unsetborder 0s linear 6s 1;
  animation: unsetborder 0s linear 6s 1;
  animation-fill-mode: forwards;
}

.hands {
  path {
    &:nth-child(1) {
      animation: handsbg;
      animation-delay: 10.5s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }

    &:nth-child(4) {
      animation: handscolor;
      animation-delay: 10.5s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;

      @keyframes handscolor {
        to {
          fill: $white;
        }
      }
    }

    &:last-child {
      animation: handsborderunset;
      animation-delay: 10.5s;
      animation-fill-mode: forwards;
      animation-timing-function: initial;

      @keyframes handsborderunset {
        to {
          fill: unset;
        }
      }
    }
  }

  &__left {
    transform-box: fill-box;
    transform-origin: center;
    animation: lefthand;
    animation-delay: 10.5s;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: 4;

    @keyframes lefthand {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(10deg);
      }
    }
  }

  &__right {
    transform-origin: center;
    animation: righthand;
    animation-delay: 10.5s;
    transform-box: fill-box;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: 4;

    @keyframes righthand {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(-10deg);
      }
    }
  }
}

.clockCircle {
  animation: handsbg;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.clockPaths {
  animation: clockbg;
  -webkit-animation: clockbg;
  -moz-animation: clockbg;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.clockPathsArrows {
  animation: clockrotatelarg;
  animation-duration: 0.5s;
  animation-delay: 6s;
  animation-timing-function: linear;
  animation-iteration-count: 10;
  animation-fill-mode: forwards;
  transform-origin: 82.5% 47%;
}
