.arrow_comp {
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 2vh;
  position: absolute;
  align-items: center;
  justify-content: space-between;

  &__slide__prev_arrows {
    width: 40px;
    height: 40px;
    fill: #fff;
    border-radius: 15px;
    background-color: transparent;
    cursor: url('/images/Mouse.png'), auto;
    animation: bounceAlphaRight 1s infinite linear;
    background: linear-gradient(180deg, #5040b6, #3d80d4);
  }

  &__slide__next_arrows {
    width: 40px;
    height: 40px;
    fill: #fff;
    border-radius: 15px;
    background-color: transparent;
    cursor: url('/images/Mouse.png'), auto;
    animation: bounceAlphaLeft 1s infinite linear;
    background: linear-gradient(180deg, #5040b6, #3d80d4);
  }
}

@keyframes bounceAlphaRight {
  0% {
    opacity: 0.6;
    padding: 15px;
    transform: rotate(90deg) translateY(0px) scale(0.8);
  }
  50% {
    opacity: 1;
    padding: 10px;
    transform: rotate(90deg) translateY(-10px) scale(1);
  }
  100% {
    opacity: 0.6;
    padding: 15px;
    transform: rotate(90deg) translateY(0px) scale(0.8);
  }
}

@keyframes bounceAlphaLeft {
  0% {
    opacity: 0.6;
    padding: 15px;
    transform: rotate(-90deg) translateY(0px) scale(0.8);
  }
  50% {
    opacity: 1;
    padding: 10px;
    transform: rotate(-90deg) translateY(-10px) scale(1);
  }
  100% {
    opacity: 0.6;
    padding: 15px;
    transform: rotate(-90deg) translateY(0px) scale(0.8);
  }
}
