.arrow_comp {
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 2vh;
  position: absolute;
  align-items: center;
  justify-content: space-between;

  &__slide__prev_arrows {
    @include arrowIcon(90deg);
  }

  &__slide__next_arrows {
    @include arrowIcon(-90deg);
  }
}
