//color variables
$map-bg: var(--mapBg);
$rope-bg: var(--ropeBg);
$field-bg: var(--fieldBg);
$bg-color: var(--bgColor);
$header-bg: var(--headerBg);
$bacgWhite: var(--bacgWhite);
$text-color: var(--textColor);
$applayText: var(--applayText);
$btn-disabled: var(--btnDisabdled);
$iconColor: var(--iconColor);
$arrowColor: var(--arrowColor);
$industryColor: var(--industryColor);
$logo-bottom-color: var(--logoBottomColor);

// color vars
$black: #000;
$black-10: #00000099;
$black-20: #1d1d1d;
$black-30: #1a1a1a;
$black-40: rgba(0, 0, 0, 0.6);

$gray: #c4c4c4;

$white: #fff;
$white-10: rgba(234, 241, 250, 0.6);
$white-20: #f1f2f2;
$white-30: rgba(207, 229, 255, 0.6);
$white40: rgba(135, 133, 133, 1);
$white-100: #f5f5f5;
$rgba-04: rgba(38, 38, 38, 0.4);
$our-works-bg: rgba(0, 0, 0, 0.6);

$moni: #4d08ee;
$masstips: #528dfd;
$eiev: #183886;
$statecert: #4ca850;
$kristobad: #bf9425;
$duoble-one: #20b2a3;

$liner-red: linear-gradient(339.44deg, #da4638 5.68%, #ff3623 85.94%);
$liner-blue: linear-gradient(180deg, #5040b6 0%, #3d80d4 100%);
$liner-blue-hover: linear-gradient(242deg, #311eb4 12%, #3d80d4 93%);
