:global {
  .container {
    margin: 0 50px;
    max-width: 1440px;
    width: 100%;

    @include breakpoint(desktop) {
      padding: 0;
    }

    @include breakpoint(tablet-m) {
      padding: 64px 16px 50px;
    }
  }

  #fullpage {
    z-index: 2;
  }

  //our works slider

  .react-multi-carousel-item {
    @extend %flex-center;

    @include breakpoint(desktop) {
      height: max-content !important;
    }
  }

  .fp-tableCell {
    @include breakpoint(desktop) {
      height: 100% !important;
    }
  }

  //////////////////////// Our Work Global styles

  .slider_we_work__item {
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    display: flex !important;
    font-size: 20px !important;
    color: #1a1a1a !important;
    font-weight: bold !important;
    font-style: normal !important;
    align-items: center !important;
    background-size: cover !important;
    justify-content: center !important;
    background-position: center !important;

    @media (max-width: 568px) {
      min-width: 30vh;
      min-height: 30vh;
    }

    @media (max-height: 750px) {
      font-size: 14px !important;
    }
  }
}

.react-multiple-carousel__arrow--right::before {
  content: '>>';
}
