:global {
  .container {
    padding: 80px 150px 60px 50px;

    @include breakpoint(desktop) {
      padding: 0;
    }

    @include breakpoint(tablet-m) {
      padding: 64px 16px 50px;
    }
  }

  .mouse_animation {
    cursor: url(/images/Mouse2.png), auto;
  }

  #fullpage {
    z-index: 2;
  }

  //canvas

  #canvas {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: var(--bgColor);
  }

  .canvas__working {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    user-select: none;
  }

  .fb_dialog_content {
    display: none;
  }

  .fb-customerchat {
    iframe {
      right: 11px;
      bottom: 81px;
    }
  }

  // Our partners

  .fix_size_kms {
    width: 100%;
  }

  .logo_fix_size {
    padding: 0;
    height: 100% !important;
    position: relative !important;
    width: calc(100vw - 200px) !important;
  }

  .spp_lightMode {
    path {
      fill: #252525;
    }
  }

  //map

  #map {
    height: 61vh;
    position: relative;
    z-index: 5;
  }

  //our works slider

  .react-multi-carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(desktop) {
      height: max-content !important;
    }
  }

  .fp-tableCell {
    @include breakpoint(desktop) {
      height: 100% !important;
    }
  }

  //////////////////////// Our Work Global styles

  .carousel-3d {
    width: 100%;
    height: 300px;
    display: flex;
    margin: 0 auto;
    max-width: 600px;
    padding-top: 70px;
    position: relative;
    align-items: flex-start;
    justify-content: center;

    .carousel-item {
      width: 200px;
      height: 200px;
      transition: 0.5s;
      position: absolute;
      border-radius: 50%;
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-border-radius: 50%;
      background-size: cover;
      -ms-border-radius: 50%;
      filter: grayscale(100%);
      -moz-border-radius: 50%;
      -webkit-transition: 0.5s;
      -webkit-border-radius: 50%;
      -webkit-filter: grayscale(100%);

      &:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
      }

      &:nth-child(1) {
        background-image: url('/images/weWork/about_slider-1.png');
      }

      &:nth-child(2) {
        background-image: url('/images/weWork/about_slider-2.png');
      }

      &:nth-child(3) {
        background-image: url('/images/weWork/about_slider-3.png');
      }

      &:nth-child(4) {
        background-image: url('/images/weWork/about_slider-3.png');
      }
    }
  }

  input[type='radio'] {
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    opacity: 0.4;
    margin: 0 15px 0 0;
    position: relative;
    transform: translateX(-83px);
  }

  input[type='radio']:nth-child(5) {
    margin-right: 0px;
  }

  input[type='radio']:checked {
    opacity: 1;
  }

  .carousel__inp {
    display: none;
  }

  .slider_we_work__item {
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    display: flex !important;
    cursor: url('/images/Mouse.png'), auto;
    font-size: 20px !important;
    color: #1a1a1a !important;
    font-weight: bold !important;
    font-style: normal !important;
    align-items: center !important;
    background-size: cover !important;
    justify-content: center !important;
    background-position: center !important;

    @media (max-width: 568px) {
      min-width: 30vh;
      min-height: 30vh;
    }

    @media (max-height: 750px) {
      font-size: 14px !important;
    }
  }

  ////  APPLAY NOW -_- Phone number, add country code && flag
  .flag-dropdown {
    position: relative;

    &::before {
      content: '';
      background: $white-30;
      width: 38px;
      height: 51px;
      left: 0;
      top: 22px;
      position: absolute;
      border-radius: 8px 0 0 8px;
    }
  }
  .react-tel-input {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    min-height: 105px !important;
    cursor: url(/images/Mouse.png), auto;
    padding: 21.6px 0px 0px 0px !important;
  }

  .react-tel-input .form-control {
    @extend %open-sans-16;
    width: 100% !important;
    height: 51px !important;
    border: none !important;
    font-size: 16px !important;
    color: #f1f2f2 !important;
    user-select: all !important;
    position: relative !important;
    cursor: url(/images/Mouse.png), auto;
    padding: 0px 10px 0px 14px !important;
    border-radius: 0px 8px 8px 0px !important;
    background: $white-30 !important;

    &::placeholder {
      color: #f1f2f2 !important;
      cursor: url(/images/Mouse.png), auto;
    }
  }

  .react-tel-input .special-label {
    line-height: 25px !important;
    left: 0 !important;
    top: 0px !important;
    font: inherit !important;
    padding: unset !important;
    display: unset !important;
    font-size: 17px !important;
    font-weight: normal !important;
    background-color: unset !important;
    font-family: Open Sans, sans-serif !important;
  }

  .react-tel-input .flag-dropdown {
    height: 51px !important;
    cursor: url(/images/Mouse.png), auto;
    border-radius: 8px 0px 0px 8px !important;
    background: transparent !important;
  }

  .react-tel-input .flag-dropdown.open {
    cursor: url(/images/Mouse.png), auto;
    background-color: transparent !important;
    border-radius: 8px 0px 0px 8px !important;
  }

  .react-tel-input .selected-flag:hover {
    background: transparent !important;
    cursor: url(/images/Mouse.png), auto;
    border-radius: 8px 0px 0px 8px !important;
  }

  .react-tel-input .selected-flag:focus {
    background: transparent !important;
    cursor: url(/images/Mouse.png), auto;
    border-radius: 8px 0px 0px 8px !important;
  }

  .react-tel-input .flag-dropdown:hover,
  .react-tel-input .flag-dropdown:focus {
    background: transparent !important;
    cursor: url(/images/Mouse.png), auto;
    border-radius: 8px 0px 0px 8px !important;
  }

  .react-tel-input .flag-dropdown {
    position: unset !important;
    background: transparent !important;
    border-radius: 8px 0px 0px 8px !important;
    cursor: url(/images/Mouse.png), auto !important;
  }

  .react-tel-input .selected-flag {
    padding-left: 24px !important;
    cursor: url(/images/Mouse.png), auto;
    border-radius: 8px 0px 0px 8px !important;
  }

  .react-tel-input .flag-dropdown.open .selected-flag {
    background: transparent !important;
  }

  .react-tel-input .country-list {
    display: none;
  }
  .flag_no_10 {
    display: none !important;
  }

  .react-tel-input .flag-dropdown {
    border: none !important;
  }

  .react-tel-input .country-list .country-name {
    display: none;
  }

  .country-list::-webkit-scrollbar {
    width: 10px !important;
  }

  .react-tel-input .selected-flag .arrow {
    display: none !important;
  }

  /* Track */
  .country-list::-webkit-scrollbar-track {
    box-shadow: inset 0px 15px 5px grey !important;
    border-radius: 10px !important;
  }
  .country-list::-webkit-scrollbar-thumb {
    background: #dce1f4 !important;
    border-radius: 10px !important;
  }

  .country-list::-webkit-scrollbar-thumb:hover {
    background: #b30000 !important;
  }

  .react-tel-input .country-list .country .dial-code {
    color: red !important;
  }
}
