:global {
  .container {
    padding: 80px 150px 60px 50px;
    height: 100%;

    @include breakpoint(desktop) {
      height: auto;
      padding: 0;
    }

    @include breakpoint(tablet-m) {
      padding: 64px 16px 50px;
    }
  }

  #fullpage {
    z-index: 2;
  }

  //canvas

  #canvas {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: var(--bgColor);
  }

  .canvas__working {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    user-select: none;
  }

  .fb_dialog_content {
    display: none;
  }

  .fb-customerchat {
    iframe {
      right: 11px;
      bottom: 81px;
    }
  }

  //map

  #map {
    height: 61vh;
    position: relative;
    z-index: 5;
  }

  //our works slider

  .react-multi-carousel-item {
    @include breakpoint(desktop) {
      height: max-content !important;
    }
  }

  .fp-tableCell {
    @include breakpoint(desktop) {
      height: 100% !important;
    }
  }

  // swiper default styles changes

  .slick__container {
    .slick-list {
      // width: 100%;
      height: 100%;
    }

    .slick-dots {
      display: none !important;
    }
  }
}
