// html {
//   height: 100% !important;
//   overflow: hidden !important;
//   position: relative !important;
// }
// body {
//   height: 100% !important;
//   // overflow: auto !important;
//   position: relative !important;
// }
p,
a,
q,
s,
b,
u,
i,
dl,
dt,
dd,
ol,
tr,
th,
td,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
li,
tt,
em,
pre,
nav,
sub,
sup,
var,
kbd,
img,
ins,
dfn,
big,
del,
div,
html,
body,
span,
abbr,
cite,
code,
samp,
menu,
ruby,
time,
mark,
form,
label,
tbody,
tfoot,
embed,
video,
small,
thead,
aside,
table,
audio,
applet,
object,
iframe,
strike,
legend,
canvas,
strong,
center,
figure,
footer,
header,
hgroup,
output,
acronym,
address,
caption,
summary,
section,
details,
article,
fieldset,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

nav,
menu,
aside,
footer,
header,
hgroup,
figure,
details,
article,
section,
figcaption {
  display: block;
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

* {
  user-select: none;
  box-sizing: border-box;
  outline: none !important;
}

label,
input {
  cursor: url('/images/Mouse.png'), auto;

  &:focus {
    cursor: url('/images/Mouse2.png'), auto;
  }
}

input {
  box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

button,
a {
  border: 0;
  display: inline-block;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
  cursor: url('/images/Mouse.png'), auto;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
}

svg {
  user-select: none;
  cursor: url('/images/Mouse.png'), auto;
}

body {
  margin: 0;
  padding: 0;
  color: $white-20;
  font-weight: normal;
  background: #000000;
  font-family: 'Open Sans', sans-serif;
  cursor: url('/images/Mouse.png'), auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
