@mixin breakpoint($devices) {
  @if $devices == mobile {
    @media (max-width: $mobile-m) {
      @content;
    }
  } @else if $devices == tablet-l {
    @media (max-width: $tablet-l) {
      @content;
    }
  } @else if $devices == tablet-m {
    @media (max-width: $tablet-m) {
      @content;
    }
  } @else if $devices == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $devices == desktop {
    @media (max-width: $desktop) {
      @content;
    }
  } @else if $devices == wide {
    @media (max-width: $wide) {
      @content;
    }
  }
}

@mixin bounce($zero, $one, $two, $three, $four) {
  animation: bounce 2.5s alternate linear;
  margin-top: $one;

  @keyframes bounce {
    0% {
      margin-top: $zero;
      animation-timing-function: ease-in;
    }
    15% {
      margin-top: $one;
      animation-timing-function: ease-out;
    }
    30% {
      margin-top: $two;
      animation-timing-function: ease-in;
    }
    45% {
      margin-top: $one;
      animation-timing-function: ease-out;
    }
    60% {
      margin-top: $three;
      animation-timing-function: ease-in;
    }
    75% {
      margin-top: $one;
      animation-timing-function: ease-out;
    }
    90% {
      margin-top: $four;
      animation-timing-function: ease-in;
    }
    100% {
      margin-top: $one;
      animation-timing-function: ease-out;
    }
  }
}
