@mixin breakpoint($devices) {
  @if $devices == mobile {
    @media (max-width: $mobile-m) {
      @content;
    }
  } @else if $devices == tablet-l {
    @media (max-width: $tablet-l) {
      @content;
    }
  } @else if $devices == tablet-m {
    @media (max-width: $tablet-m) {
      @content;
    }
  } @else if $devices == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $devices == desktop {
    @media (max-width: $desktop) {
      @content;
    }
  } @else if $devices == wide {
    @media (max-width: $wide) {
      @content;
    }
  } @else if $devices == fr-double-package {
    @media (max-width: $fr-double-package) {
      @content;
    }
  }
}

@mixin ourWorkBlock($right, $bottom) {
  right: $right;
  bottom: $bottom;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    transition: all 1.5s;
  }
}

@mixin ourWorksText($top, $left, $bottom, $right) {
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
  opacity: 1;
  animation: showText 1.5s alternate linear;

  @keyframes showText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
