@mixin breakpoint($devices) {
  @if $devices == mobile {
    @media (max-width: $mobile-m) {
      @content;
    }
  } @else if $devices == tablet-l {
    @media (max-width: $tablet-l) {
      @content;
    }
  } @else if $devices == tablet-m {
    @media (max-width: $tablet-m) {
      @content;
    }
  } @else if $devices == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $devices == desktop {
    @media (max-width: $desktop) {
      @content;
    }
  } @else if $devices == wide {
    @media (max-width: $wide) {
      @content;
    }
  }
}

@mixin ourWorkBlock($right, $bottom) {
  right: $right;
  bottom: $bottom;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    transition: all 1.5s;
  }
}

@mixin ourWorksText($top, $left, $bottom, $right) {
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
  opacity: 1;
  animation: showText 1.5s alternate linear;

  @keyframes showText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @include breakpoint(tablet-m) {
    animation: showText 1.5s infinite linear;
  }

  @keyframes showText {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.4;
    }
  }
}

@mixin cubTranslateY($indexY) {
  transform: rotateY($indexY) translate3d(0, 0, $cubeSize / 2);

  @media (max-height: 800px) {
    transform: rotateY($indexY) translate3d(0, 0, $cubeSizeSecond / 2);
  }

  @media (max-width: 1280px) {
    transform: rotateY($indexY) translate3d(0, 0, $cubeSizeThree / 2);
  }

  @include breakpoint(tablet-m) {
    transform: rotateY($indexY) translate3d(0, 0, $cubeSizeMobile / 2);
  }
}

@mixin cubTranslateX($indexX) {
  transform: rotateX($indexX) translate3d(0, 0, $cubeSize / 2);

  @media (max-height: 800px) {
    transform: rotateX($indexX) translate3d(0, 0, $cubeSizeSecond / 2);
  }

  @media (max-width: 1280px) {
    transform: rotateX($indexX) translate3d(0, 0, $cubeSizeThree / 2);
  }

  @include breakpoint(tablet-m) {
    transform: rotateX($indexX) translate3d(0, 0, $cubeSizeMobile / 2);
  }
}
