%open-sans-48 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
}

%open-sans-32 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
}

%open-sans-24 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
}

%open-sans-20 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
}

%open-sans-18 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
}

%open-sans-16 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
}

%open-sans-14 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
}

%open-sans-12 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
}
