// media queries vars
$mobile-m: 375px;
$tablet-m: 576px;
$tablet: 768px;
$tablet-l: 992px;
$desktop: 1024px;
$wide: 1200px;
$fr-double-package: 1304px;

// @extend
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex-align {
  display: flex;
  align-items: center;
}

%button-gradient {
  width: 100%;
  padding: 18px 0;
  color: $white-20;
  border: none;
  position: relative;
  background: $liner-blue;
  font-weight: 600;
  border-radius: 50px;
  @extend %open-sans-16;

  &:disabled {
    cursor: default;
    background: $btn-disabled;
  }
}

%skeleton-animation {
  animation: skeleton 3s infinite;

  @keyframes skeleton {
    0% {
      background-color: $white;
    }
    25% {
      background-color: $white-100;
    }
    50% {
      background-color: $white;
    }
    75% {
      background-color: $white-100;
    }
    100% {
      background-color: $white;
    }
  }
}

%nextPrev {
  fill: $logo-bottom-color;
  position: absolute;
  z-index: 10;
  left: 48%;
  height: 40px;
  width: 40px;
}
