// media queries vars
$mobile-m: 375px;
$tablet-m: 576px;
$tablet: 768px;
$tablet-l: 992px;
$desktop: 1024px;
$wide: 1200px;

//cubes size

$cubeSize: 400px;
$cubeSizeSecond: 300px;
$cubeSizeThree: 270px;
$cubeSizeMobile: 230px;

// @extend
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex-align {
  display: flex;
  align-items: center;
}

%align-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-align-column{
  display: flex;
  align-items: center;
  flex-direction: column;
}

%flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%button-gradient {
  width: 100%;
  padding: 18px 0;
  color: $white-20;
  border: none;
  position: relative;
  background: $liner-blue;
  font-weight: 600;
  border-radius: 50px;
  @extend %open-sans-16;

  &:disabled {
    cursor: default;
    background: rgba(207, 229, 255, 0.6);
  }
}

%skeleton-animation {
  animation: skeleton 3s infinite;

  @keyframes skeleton {
    0% {
      background-color: $white;
    }
    25% {
      background-color: $white-100;
    }
    50% {
      background-color: $white;
    }
    75% {
      background-color: $white-100;
    }
    100% {
      background-color: $white;
    }
  }
}
