.height_reponce {
  @include breakpoint(desktop) {
    height: auto !important;
    margin-bottom: 80px !important;
  }

  @include breakpoint(tablet) {
    margin-bottom: 50px !important;
  }

  @include breakpoint(tablet-m) {
    margin-bottom: 0 !important;
  }
}

.wrapper {
  @extend %flex-center;

  @include breakpoint(desktop) {
    flex-direction: column-reverse;
  }
}

.info {
  opacity: 1;
  width: 100%;
  z-index: -5;
  padding: 42px;
  overflow: hidden;
  max-width: 768px;
  user-select: none;
  text-align: center;
  margin-right: 46px;
  @extend %flex-align;
  border-radius: 20px;
  transform: scale(1);
  transition: all 0.5s;
  background: $field-bg;
  flex-direction: column;
  backdrop-filter: blur(20px);

  @include breakpoint(desktop) {
    margin: 0 auto;
  }

  @include breakpoint(tablet-l) {
    width: 95%;
  }

  @include breakpoint(tablet-m) {
    width: 100%;
    padding: 35px 16px;
    margin: 24px 0 40px;
  }

  &_show {
    transition: all 0.5s;
    opacity: 0;
    transform: scale(0);
  }

  &__title {
    @extend %open-sans-48;

    @include breakpoint(wide) {
      font-size: 32px;
      line-height: 44px;
    }
  }

  &__subtitle {
    @extend %open-sans-24;
    margin: 8px 0 24px;

    @include breakpoint(wide) {
      font-size: 20px;
      line-height: 27px;
    }

    @include breakpoint(tablet-m) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__text {
    max-width: 467px;
    @extend %open-sans-18;

    @include breakpoint(wide) {
      font-size: 18px;
      line-height: 25px;
    }

    @include breakpoint(tablet-m) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.animation {
  @extend %flex-center;
  position: relative;
  user-select: none;
  height: 70%;
  max-width: 45%;
  width: 100%;

  @media (min-width: 1024px) and(min-height:670px) {
    height: 50vh;
    max-width: 50vh;
  }

  @include breakpoint(desktop) {
    height: 48vh;
    max-width: 73%;
    margin: 16px 0 0;
  }

  @include breakpoint(tablet-m) {
    margin-top: 24px;
    max-width: 288px;
    height: 252px;
  }
}

.photos {
  @extend %flex-center;
  width: 100%;
  height: 100%;

  &__item {
    position: absolute;
    background: transparent;
    transition: all 0.5s;
    transform: scale(1);
    z-index: 1;
    opacity: 1;

    &_show {
      transform: scale(0);
      opacity: 0;
      transition: all 0.5s;
    }

    &_image {
      width: 20vh;
      height: 20vh;

      @media (min-width: 1024px) and(min-height:670px) {
        width: 16vh;
        height: 16vh;
      }

      @include breakpoint(desktop) {
        width: 16vh;
        height: 16vh;
      }

      @include breakpoint(tablet-m) {
        width: 78px;
        height: 78px;
      }
    }
  }
}

.block {
  &_one {
    top: 0;
    left: 9%;
    animation: blockOneAnimation 1s alternate linear;
  }
  &_two {
    top: 12%;
    right: 0;
    animation: blockTwoAnimation 1s alternate linear;
  }
  &_three {
    right: 12%;
    bottom: 0;
    animation: blockThreeAnimation 1s alternate linear;
  }
  &_four {
    left: 0;
    bottom: 13.5%;
    animation: blockFourAnimation 1s alternate linear;
  }
}

@keyframes blockOneAnimation {
  0% {
    left: 0;
    top: 55%;
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    left: 9%;
    top: 0;
    transform: scale(1);
  }
}

@keyframes blockTwoAnimation {
  0% {
    top: 0;
    right: 55%;
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    top: 12%;
    right: 0;
    transform: scale(1);
  }
}

@keyframes blockThreeAnimation {
  0% {
    right: 0;
    bottom: 55%;
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    right: 12%;
    bottom: 0;
    transform: scale(1);
  }
}

@keyframes blockFourAnimation {
  0% {
    left: 55%;
    bottom: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    left: 0;
    bottom: 13.5%;
    transform: scale(1);
  }
}
