.mexanical_container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 5px solid grey;

  &__image_block {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    animation: generatorAnimation 5s infinite forwards;
    z-index: 4;
    position: relative;

    &_img {
      background-image: url(./WatchIMage/rfnidj.jpg);
      background-size: cover;
      border-bottom-left-radius: 24px;
      opacity: 0.6;
      border-bottom-right-radius: 24px;
      background-repeat: no-repeat;
      width: 100%;
      height: 57%;
    }
  }

  &__plyus {
    border: 1px solid white;
    position: absolute;
    width: 9px;
    height: 9px;
    right: 5%;
    border-radius: 50%;
    z-index: 4;
    top: 58%;

    &_top {
      background: rebeccapurple;
      height: 1px;
      position: absolute;
      width: 7px;
      top: 44%;
      bottom: 53%;
      right: 0;
      left: 0;
      animation: pylustTop 5s infinite;
    }

    &_right {
      animation: pylustRight 5s infinite;
      background: rebeccapurple;
      height: 7px;
      right: 3px;
      top: 0%;
      position: absolute;
      width: 1px;
    }
  }

  &__closer {
    background-image: radial-gradient(
      circle,
      #183e6d,
      #1f4a7f,
      #265692,
      #2d62a5,
      #346fb9,
      #346fb9,
      #346fb9,
      #346fb9,
      #2d62a5,
      #265692,
      #1f4a7f,
      #183e6d
    );
    opacity: 0.9;
    width: 100%;
    height: 50%;
    top: 0%;
    left: 0;
    right: 0;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    position: absolute;
    z-index: 6;
  }

  &_inf_block {
    width: 34px;

    &__infinity:before,
    &__infinity:after {
      content: '';
      box-sizing: content-box;
      position: absolute;
      top: 42%;
      right: 21%;
      width: 5px;
      height: 5px;
      border: 1px solid grey;
      border-radius: 50px 50px 0 50px;
      transform: rotate(-45deg);
      animation: mexanicalKeyframe 2s infinite;
    }
    &__infinity:after {
      right: 5%;
      border-radius: 50px 50px 50px 0;
      transform: rotate(45deg);
      animation: mexanicalKeyframes 2s infinite;
    }
  }

  &_mexanic1 {
    border-radius: 50%;
    position: absolute;
    top: 60%;
    bottom: 40%;
    left: 37%;
    width: 15px;
    z-index: 4;
    height: 15px;
    animation: transformss 1s infinite;
    border: 1px solid grey;
    background-image: radial-gradient(
      circle,
      #174ea6,
      #164193,
      #143481,
      #10276f,
      #0b1b5e,
      #091653,
      #071249,
      #060c3f,
      #080c39,
      #0b0c32,
      #0c0b2c,
      #0d0b25
    );

    &__item1 {
      left: 0;
      top: 40%;
      right: 0;
      width: 100%;
      bottom: 56%;
      height: 3px;
      background-image: radial-gradient(
        circle,
        #e2bf82,
        #d4b376,
        #c7a76b,
        #b99c5f,
        #ac9054,
        #a78c51,
        #a3874d,
        #9e834a,
        #a1844e,
        #a48652,
        #a78756,
        #aa895a
      );
      position: absolute;
    }
  }

  &_mexanic2 {
    border-radius: 50%;
    position: absolute;
    top: 45%;
    bottom: 40%;
    left: 8%;
    width: 20px;
    z-index: 2;
    height: 20px;
    animation: transformss 1s infinite;
    border: 1px solid grey;

    &__item21 {
      left: 0;
      top: 44%;
      right: 0;
      width: 100%;
      bottom: 56%;
      height: 1px;
      background-image: radial-gradient(
        circle,
        #e2bf82,
        #d4b376,
        #c7a76b,
        #b99c5f,
        #ac9054,
        #a78c51,
        #a3874d,
        #9e834a,
        #a1844e,
        #a48652,
        #a78756,
        #aa895a
      );
      position: absolute;
      transform: rotate(60deg);
      animation: transformss 0.5s infinite;
    }
    &__item22 {
      left: 0;
      top: 44%;
      right: 0;
      width: 100%;
      bottom: 56%;
      height: 1px;
      background-image: radial-gradient(
        circle,
        #e2bf82,
        #d4b376,
        #c7a76b,
        #b99c5f,
        #ac9054,
        #a78c51,
        #a3874d,
        #9e834a,
        #a1844e,
        #a48652,
        #a78756,
        #aa895a
      );
      transform: rotate(-90deg);
      animation: transformssMexan 0.7s infinite;
      position: absolute;
    }
  }
}

@keyframes transformss {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes transformssMexan {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes mexanicalKeyframe {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mexanicalKeyframes {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pylustTop {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(720deg);
  }
  75% {
    transform: rotate(1080deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pylustRight {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(720deg);
  }
  75% {
    transform: rotate(1080deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes generatorAnimation {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
