.wrapper {
  @extend %flex-center;
}

.slider {
  max-width: 100%;

  &__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &_info {
      @extend %flex-center;
    }

    &_image {
      max-width: 844px;
      max-height: 631px;
      margin-top: 105px;
    }

    &_wrapper {
      max-width: 768px;
      width: 100%;
      text-align: center;
      background: $field-bg;
      border-radius: 20px;
      flex-direction: column;
      backdrop-filter: blur(20px);
      @extend %flex-center;
    }

    &_title {
      @extend %open-sans-48;
    }

    &_subtitle {
      padding: 8px 0 24px;
      font-weight: normal;
      @extend %open-sans-24;
    }

    &_text {
      max-width: 484px;
      @extend %open-sans-18;
    }

    &_link {
      color: $text-color;
      position: relative;
      font-weight: 600;
      padding-top: 24px;
      @extend %open-sans-18;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }
}

.arrow {
  top: calc(50vh + 201px);
  position: absolute;

  &__next {
    right: calc(25% - 32px);
  }

  &__prev {
    right: calc(25% + 32px);
    z-index: 10;
    transform: rotate(180deg);
  }
}
