.wrapper {
  @extend %flex-center;
  margin-left: 10px;
  @include breakpoint(desktop) {
    display: none;
  }
  svg {
    width: 32px;
    height: 32px;
  }
}
.top {
  margin-top: -4px;
  margin-right: 8px;
}

.bottom {
  &_skt {
    width: 32px;
    height: 32px;

    svg {
      margin-bottom: 5px;
      transform: rotate(180deg) !important;
    }
  }
}

.mouse_animation {
  animation: mouseAnimIdentificator 1s forwards linear;
}

.mouse_animation_left {
  animation: mouseAnimIdentificatorLeft 1s forwards linear;
}

.mouse_right_dropping {
  animation: droppingAnimation 0.5s alternate linear !important;

  &:hover {
    animation: mouseHoverAnimaIdentific 1s infinite linear !important;
  }
}

.mouse_left_dropping {
  animation: droppingAnimationLeft 0.5s alternate linear !important;
  transform: rotate(180deg);

  &:hover {
    animation: mouseHoverLeftAnimaIdentific 1s infinite linear !important;
  }
}

.right_mouse_none {
  animation: mouseAnimIdentificator 1s forwards linear !important;
}

.left_mouse_none {
  animation: leftMouseNone 1s forwards linear !important;
  width: 32px;
}

@keyframes leftMouseNone {
  0% {
    transform: rotate(180deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(180deg) scale(0);
  }
}

@keyframes mouseAnimIdentificator {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes mouseAnimIdentificatorLeft {
  0% {
    transform: rotate(180deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(180deg) scale(0);
  }
}

@keyframes droppingAnimation {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes droppingAnimationLeft {
  0% {
    transform: rotate(180deg) translateY(0px);
  }
  50% {
    transform: rotate(180deg) translateY(-10px);
  }
  100% {
    transform: rotate(180deg) translateY(0px);
  }
}

@keyframes mouseHoverAnimaIdentific {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(10deg) scale(1.35);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-10deg) scale(1.35);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes mouseHoverLeftAnimaIdentific {
  0% {
    transform: rotate(180deg) scale(1);
  }
  25% {
    transform: rotate(190deg) scale(1.35);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  75% {
    transform: rotate(170deg) scale(1.35);
  }
  100% {
    transform: rotate(180deg) scale(1);
  }
}
