.wrapper {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 50px;
  z-index: 555;
  width: 64px;
  max-height: 384px;
  overflow: hidden;

  @include breakpoint(desktop) {
    display: none;
  }

  &__item {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    svg {
      path {
        fill: $white;
      }
    }

    &_active {
      background: $liner-blue;
      border-radius: 50%;

      svg {
        path {
          fill: $white;
        }
      }
    }
  }

  @include breakpoint(desktop) {
    width: 50px;
    height: 50px;
  }
}
