.height_response {
  position: relative;

  @include breakpoint(desktop) {
    height: 100vh !important;
  }
}

.joinform_portal {
  opacity: 0;
  max-width: 100%;
  width: 100%;
  height: 0%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}

.joinform_portal__anima {
  left: 0;
  top: 45%;
  right: 0;
  bottom: 0;
  z-index: 9;
  margin: 0 auto;
  position: absolute;
  height: calc(100% - 139px) !important;
  animation: applayAnima 1s forwards linear;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 56px;
  position: relative;
  height: 100vh !important;

  @include breakpoint(desktop) {
    height: auto !important;
    margin-right: 35px;
  }

  @include breakpoint(tablet-m) {
    min-height: 456px;
    padding-top: 0;
  }
  @include breakpoint(tablet) {
    flex-direction: column;
    margin-right: 0;
    padding-bottom: 0;
  }

  &__info {
    width: 100%;
    max-width: 768px;

    @media screen and (max-width: 1660px) {
      max-width: 50%;
    }

    @media (max-width: 1280px) {
      max-width: 55%;
    }

    @include breakpoint(desktop) {
      padding-left: 35px;
    }

    @include breakpoint(tablet) {
      max-width: 100%;
      padding: 0 35px 40px;
    }

    @include breakpoint(tablet-m) {
      padding: 0 0 24px;
    }

    &_title {
      @extend %open-sans-48;

      @include breakpoint(tablet-m) {
        font-size: 32px;
        font-weight: 600;
        padding: 24px 0 0;
        line-height: 44px;
      }

      @include breakpoint(mobile) {
        font-size: 32px;
      }
    }

    &_subtitle {
      padding: 16px 0;
      max-width: 615px;
      @extend %open-sans-24;

      @include breakpoint(tablet-m) {
        font-size: 20px;
      }

      @include breakpoint(mobile) {
        font-size: 17px;
      }
    }

    &_text {
      width: 100%;
      @extend %open-sans-18;

      @include breakpoint(tablet-m) {
        font-size: 16px;
      }

      @include breakpoint(mobile) {
        font-size: 14px;
      }
    }

    &_join {
      width: 100%;
      padding: 18px 0;
      color: $white-20;
      max-width: 201px;
      margin-top: 32px;
      position: relative;
      text-align: center;
      border-radius: 50px;
      @extend %open-sans-16;
      background: $liner-blue;
      transition: ease-in 0.3s;

      &:hover {
        background: $liner-blue-hover;
      }

      @include breakpoint(tablet) {
        max-width: 100%;
        margin: 32px 0 24px;
      }
    }
  }
}

.cubes {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 500px;
  height: 540px;
  position: relative;

  @media (max-height: 800px) {
    width: 400px;
    height: 420px;
  }

  @media screen and (max-width: 1280px) {
    width: 320px;
    height: 380px;
  }

  @include breakpoint(desktop) {
    width: 335px;
    height: 380px;
  }

  @include breakpoint(tablet-m) {
    width: 288px;
    height: 320px;
  }

  &__space3d {
    position: absolute;
    top: 4vh;
    right: 45px;
    perspective: 1000px;
    width: $cubeSize;
    height: $cubeSize;
    text-align: center;
    transform: scale(1);
    transition: all 0.5s;

    &__active {
      transform: scale(0.7);
      transition: all 0.5s;
    }

    @media (max-height: 800px) {
      width: $cubeSizeSecond;
      height: $cubeSizeSecond;
    }

    @media (max-width: 1280px) {
      width: $cubeSizeThree;
      height: $cubeSizeThree;
      right: 4vh;
    }

    @include breakpoint(tablet-m) {
      width: $cubeSizeMobile;
      height: $cubeSizeMobile;
      right: 28px;
    }
  }

  &__boxes {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-style: preserve-3d;
    transition: all 1s linear;

    &__3dface {
      overflow: hidden;
      position: absolute;
      border: 1px solid $gray-8;
      background: $white;
      box-shadow: $cubes-box-shadow;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      transform: translate3d(0, 0, $cubeSize / 2);
    }
  }

  &__face {
    &__front {
      background-image: url(../../../../public/images/join_our_team/join_our_team_2.jpg);
      @include cubTranslateY(0deg);
    }

    &__back {
      background-image: url(../../../../public/images/join_our_team/join_our_team_3.jpg);
      @include cubTranslateX(90deg);
    }

    &__left {
      background-image: url(../../../../public/images/join_our_team/join_our_team_4.jpg);
      left: 50%;
      margin-left: -$cubeSize / 2;
      @include cubTranslateY(-90deg);

      @media (max-height: 800px) {
        margin-left: -$cubeSizeSecond / 2;
      }

      @media (max-width: 1280px) {
        margin-left: -$cubeSizeThree / 2;
      }

      @include breakpoint(tablet-m) {
        margin-left: -$cubeSizeMobile / 2;
      }
    }

    &__right {
      background-image: url(../../../../public/images/join_our_team/join_our_team_5.jpg);
      left: 50%;
      margin-left: -$cubeSize / 2;
      @include cubTranslateY(90deg);

      @media (max-height: 800px) {
        margin-left: -$cubeSizeSecond / 2;
      }

      @media (max-width: 1280px) {
        margin-left: -$cubeSizeThree / 2;
      }

      @include breakpoint(tablet-m) {
        margin-left: -$cubeSizeMobile / 2;
      }
    }

    &__top {
      background-image: url(../../../../public/images/join_our_team/join_our_team_6.jpg);
      @include cubTranslateY(180deg);
    }

    &__bottom {
      background-image: url(../../../../public/images/join_our_team/join_our_team_1.jpg);
      @include cubTranslateX(-90deg);
    }
  }

  &__dot {
    appearance: none;
    border-radius: 50%;
    margin: 7px !important;
    border: 6px solid transparent;
    background: $white;
    position: static !important;
    transform: translateX(0px) !important;

    @include breakpoint(desktop) {
      border: 8px solid transparent;
    }
  }
}

.front:checked ~ .cubes__space3d .cubes__boxes {
  transform: rotateY(0deg);
}

.left:checked ~ .cubes__space3d .cubes__boxes {
  transform: rotateY(90deg);
}

.right:checked ~ .cubes__space3d .cubes__boxes {
  transform: rotateY(-90deg);
}

.bottom:checked ~ .cubes__space3d .cubes__boxes {
  transform: rotateX(90deg);
}

.top:checked ~ .cubes__space3d .cubes__boxes {
  transform: rotateX(-90deg);
}

.back:checked ~ .cubes__space3d .cubes__boxes {
  transform: rotateY(180deg);
}

@keyframes applayAnima {
  0% {
    transform: scale(0);
    opacity: 0.3;
    max-width: 100%;
    top: 80px;
  }
  100% {
    top: 80px;
    transform: scale(1);
    opacity: 1;
  }
}
