// /* Added <h1> for SEO optimization */
.global_title {
  font-size: 0;
  font-weight: 0;
  line-height: 0;
}

.wrapper {
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  position: fixed;
  background: transparent;
}

.container {
  height: 100%;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__navbar {
    display: flex;
    gap: 24px;

    &__item {
      @extend %open-sans-bold-16;
      background-color: transparent;
      color: $white;
      opacity: 0.8;
      transition: all 0.3s;

      &:hover {
        transition: all 0.3s;
        color: $yellow-3;
      }
    }
  }
}

.logo {
  @extend %flex-align;

  svg {
    width: 164px;
    height: 94px;
  }
}
