.wrapper {
  position: relative;

  @media (min-width: 1024px) {
    &:hover {
      &__item_hovered {
        svg {
          rect {
            fill: unset;
          }
        }
      }

      .wrapper__item {
        transition: ease-in 0.2s;

        &:first-child {
          svg {
            width: 36px;
            height: 36px;

            path {
              &:nth-child(2) {
                fill: unset;
              }

              &:nth-child(4) {
                fill: unset;
              }

              &:nth-child(5) {
                fill: unset;
              }
            }

            rect {
              opacity: 0;
            }

            circle {
              &:nth-child(3) {
                display: none;
              }

              &:nth-child(4) {
                display: none;
              }
            }
          }
        }
      }

      .wrapper__item:last-child {
        opacity: 1;
        top: 3px;
        right: 5px;
        width: 38px;
        height: 38px;

        svg {
          width: 38px;
          height: 38px;

          path {
            &:nth-child(2) {
              fill: $white-20;
            }
          }
        }
      }
    }
  }

  &__item {
    width: 36px;
    height: 36px;
    @extend %flex-center;
    transition: ease-in 0.3s;

    @include breakpoint(mobile) {
      width: 32px;
      height: 32px;
    }

    svg {
      width: 32px;
      height: 32px;
    }

    &:last-child {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
    }
  }
}
