.wrapper {
  width: 100%;
  height: 60px;
  bottom: -1px;
  z-index: 10;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);

  @include breakpoint(tablet) {
    height: 50px;
  }

  &__animation {
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    position: absolute;
    transform: translateX(-100%);
    transition: all 0.3s;
    align-items: center;

    @include breakpoint(tablet) {
      display: flex;
    }

    &_active {
      transform: translateX(0);
    }

    &_close path {
      fill: $white-20;
    }
  }
}

.container {
  height: 100%;
  padding: 0 50px;
  user-select: none;
  @extend %flex-between;

  @include breakpoint(tablet) {
    padding: 0 16px;
  }
}

.container_opened_icon {
  padding: 0 0 0 16px;

  @include breakpoint(mobile) {
    justify-content: center;
  }
}

.links {
  left: 0;
  width: 100%;
  position: absolute;
  @extend %flex-center;

  @include breakpoint(tablet-m) {
    position: relative;
  }

  &__item {
    margin-right: 23px;

    @include breakpoint(tablet) {
      margin-right: 12px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
