.wrapper {
  opacity: 1;
  z-index: 5;
  display: flex;
  min-width: 168px;
  transition: opacity 0.1s;

  @include breakpoint(desktop) {
    display: none;
  }

  &__hide {
    opacity: 0;
  }
}

.index {
  min-width: 28px;
  font-weight: 600;
  @extend %open-sans-24;
}

.page_idx {
  opacity: 1;
  animation: pageReRender 1s infinite linear;
}

@keyframes pageReRender {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
