.wrapper {
  min-width: 168px;
  opacity: 1;
  display: flex;
  transition: opacity 0.1s;

  @include breakpoint(tablet) {
    min-width: unset;
  }

  &__hide {
    opacity: 0;
  }
}

.index {
  font-weight: 600;
  margin-left: 16px;
  @extend %open-sans-24;

  @include breakpoint(tablet-m) {
    display: none;
  }
}
