.wrapper {
  overflow: hidden;

  &__layout {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 80px 0 60px;
    background: $black-40;
    backdrop-filter: blur(20px);

    @include breakpoint(desktop) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    @include breakpoint(tablet) {
      padding: 64px 0 50px;
    }

    &_container {
      height: 70vh;
    }

    &_info {
      height: 12%;
      padding: 11px 0;
      @extend %flex-align;

      @include breakpoint(desktop) {
        padding: 5px 0;
      }

      @include breakpoint(tablet-m) {
        gap: 40px;
        padding-left: 16px;
      }

      &_title {
        @extend %open-sans-12;
      }

      &_text {
        color: $white-20;
        font-weight: 600;
        @extend %open-sans-14;
      }

      &_address {
        padding: 0 98px 0 16px;

        @include breakpoint(tablet-m) {
          padding: 0;
        }
      }
    }
  }

  &__content {
    margin-top: 166px;
  }
}

.map_global {
  margin-top: 5px;

  &_style {
    color: black;
    margin-top: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
}
